<script setup>
import { ref, onMounted } from 'vue';
import { CreateWebWorkerMLCEngine } from "https://cdn.jsdelivr.net/npm/@mlc-ai/web-llm@0.2.46/+esm"
import MessageComponent from '@/components/AiMessage.vue';

const messages = ref([]);
const messageText = ref('');
const loading = ref(true);
const info = ref('');
const SELECTED_MODEL = 'Llama-3-8B-Instruct-q4f32_1-MLC-1k'
const worker = new Worker(new URL('../worker.js', import.meta.url), { type: 'module' });

let engine = null;

onMounted(() => initializeEngine());

async function initializeEngine() {
  loading.value = true;
  info.value = 'Initializing AI engine...';
  try {
    engine = await CreateWebWorkerMLCEngine(worker, SELECTED_MODEL, {
      initProgressCallback: ({ text, progress }) => {
        info.value = `${text}%`;
        if (progress === 1) {
          loading.value = false;
          addMessage("Hey! I'm Ignisus AI 100% private. How can I help you?", 'bot');
        }
      }
    });
  } catch (error) {
    console.error("Error initializing the engine:", error);
    info.value = 'Failed to initialize. Please try again later.';
    loading.value = false;
  }
}

async function handleSubmit() {
  messages.value.push({ role: 'user', content: messageText.value });
  messageText.value = '';
  loading.value = true;

  try {
    const chunks = await engine.chat.completions.create({
      messages: messages.value,
      stream: true
    });

    let reply = '';
    const botMessage = { id: Date.now(), sender: 'bot', content: '' };
    messages.value.push(botMessage);

    for await (const chunk of chunks) {
      reply += chunk.choices[0]?.delta?.content ?? '';
      botMessage.content = reply;
    }
  } catch (error) {
    console.error("Error during message handling:", error);
    addMessage("There was an error processing your request. Please try again. Make sure your browser and operating system have WebGPU features activated.", 'bot');
  } finally {
    loading.value = false;
  }
}

function addMessage(text, sender) {
  messages.value.push({ id: Date.now(), sender, content: text });
  Vue.nextTick(() => {
    const container = document.querySelector('main');
    container.scrollTop = container.scrollHeight;
  });
}
</script>

<template>
  <div class="content">
    <main>
      <ul>
        <li
          class="loading"
          v-if="loading"
        >
          <i></i>
          <h4>Loading...</h4>
          <h5>Downloading a local and private AI model.</h5>
        </li>
        <message-component
          v-for="message in messages"
          :key="message.id"
          :message="message"
        ></message-component>
      </ul>
    </main>
    <form @submit.prevent="handleSubmit">
      <input
        v-model="messageText"
        placeholder="Text here..."
      />
      <button :disabled="loading || !messageText">Send</button>
    </form>
    <small>{{ info }}</small>
  </div>
</template>
<style scoped>
.content {
  height: 100dvh;
}

main {
  height: 70vh;
  padding: 8px;
  overflow-y: auto;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

form {
  display: flex;
}

form input {
  border-radius: var(--border-radius);
  flex-grow: 1;
  padding: 8px;
  margin: 0 8px;
  border: 1px solid var(--shadow);
  color: var(--text);
}

form button {
  background: var(--hover);
  color: var(--text);
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 8px;
  transition: all .3s ease;
  margin-right: 10px;
}

form button[disabled] {
  background: var(--background-second);
  opacity: .6;
  pointer-events: none;
}

form button:hover {
  background: var(--background-third);
}

small {
  font-size: 1rem;
  color: var(--text);
  position: flex;
}

.loading {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 50%;
}

.loading i {
  pointer-events: none;
  width: 2.5em;
  height: 2.5em;
  border: 0.4em solid transparent;
  border-color: var(--text);
  border-top-color: orange;
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg)
  }
}
</style>