<script setup>
import AccountProfile from '@/components/AccountProfile.vue'
import PostsFollowing from '@/components/PostsFollowing.vue'
import PostsExplore from '@/components/PostsExplore.vue'
import MastodonPosts from '@/components/MastodonPosts.vue'
import MastodonGrid from '@/components/MastodonGrid.vue'
import { ref, onMounted } from 'vue'

const selectedButton = ref('following')

onMounted(() => {
  const savedButton = localStorage.getItem('selectedButton')
  if (savedButton) {
    selectedButton.value = savedButton
  }
})

const selectButton = (button) => {
  selectedButton.value = button
  localStorage.setItem('selectedButton', button)
}
</script>

<template>
  <section class="content social-btn">
    <button
      class="hover"
      type="button"
      @click="selectButton('account')"
      :class="{ selected: selectedButton === 'account' }"
    >
      <span>{{ $t('header.profile') }}</span>
    </button>
    <button
      class="hover"
      type="button"
      @click="selectButton('explore')"
      :class="{ selected: selectedButton === 'explore' }"
    >
      <span>{{ $t('forum.0.explore') }}</span>
    </button>
    <button
      class="hover"
      type="button"
      @click="selectButton('following')"
      :class="{ selected: selectedButton === 'following' }"
    >
      <span>{{ $t('forum.0.following') }}</span>
    </button>
  </section>

  <section v-if="selectedButton === 'account'">
    <AccountProfile></AccountProfile>
  </section>
  <section
    class="content"
    v-if="selectedButton === 'explore'"
  >
    <PostsExplore></PostsExplore>
    <MastodonGrid></MastodonGrid>
  </section>
  <section
    class="following"
    v-if="selectedButton === 'following'"
  >
    <PostsFollowing></PostsFollowing>
  </section>
</template>

<style scoped>
.social-btn {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  button {
    padding: 5px;
    border-radius: var(--border-radius);
    flex-grow: 1;
  }
}

.social-btn button.selected {
  background: var(--background-third);
}
</style>
