<script setup>
import { ref, onMounted } from 'vue'
import { db } from '@/services'

const games = ref([])
const selectedSystem = ref('')
const selectedGenre = ref('')
const selectedSort = ref('')
const galleryClass = ref('')
const filteredGames = ref([])

const applyFilters = () => {
  filteredGames.value = games.value.filter((game) => {
    const systemFilter = !selectedSystem.value || game.platforms[selectedSystem.value]
    const genreFilter = !selectedGenre.value || game.genre[selectedGenre.value]
    return systemFilter && genreFilter
  })
}

const onSortChange = () => {
  galleryClass.value = selectedSort.value === 'lessPlayed' ? 'reverse' : ''
}

onMounted(() => {
  games.value = db.games
  applyFilters()
})
</script>
<template>
  <section class="content">
    <div class="filter">
      <select
        class="button"
        v-model="selectedSystem"
        @change="applyFilters"
      >
        <option
          disabled
          value=""
        >{{ $t('gaming.0.systems') }}:</option>
        <option value="">{{ $t('gaming.0.all') }}</option>
        <option value="linux">Linux</option>
        <option value="windows">Windows</option>
        <option value="mac">Mac</option>
        <option value="wine">WineHQ</option>
        <option value="web">Web</option>
      </select>
      <select
        class="button"
        v-model="selectedGenre"
        @change="applyFilters"
      >
        <option
          disabled
          value=""
        >{{ $t('gaming.0.genres') }}:</option>
        <option value="">{{ $t('gaming.0.all') }}</option>
        <option value="build">{{ $t('gaming.0.build') }}</option>
        <option value="fight">{{ $t('gaming.0.fight') }}</option>
        <option value="simulator">{{ $t('gaming.0.simulator') }}</option>
        <option value="retro">{{ $t('gaming.0.retro') }}</option>
        <option value="puzzle">{{ $t('gaming.0.puzzle') }}</option>
      </select>
      <select
        class="button"
        v-model="selectedSort"
        @change="onSortChange"
      >
        <option
          disabled
          value=""
        >{{ $t('gaming.0.sort') }}:</option>
        <option value="mostPlayed">{{ $t('gaming.0.mostplayed') }}</option>
        <option value="lessPlayed">{{ $t('gaming.0.lessplayed') }}</option>
      </select>
    </div>
  </section>
  <section class="content">
    <div
      class="gallery"
      :class="galleryClass"
    >
      <router-link
        class="hover"
        to="/create"
      >
        <div class="img-container">
          <img src="/images/add.webp" />
        </div>
        <div class="text-container">
          <span class="game-name">{{ $t('gaming.1.add') }} +</span>
        </div>
      </router-link>
      <a
        class="hover"
        v-for="game in filteredGames"
        :href="game.url"
        :key="game.id"
        :target="game.target"
      >
        <div class="img-container">
          <img
            :src="game.icon"
            :alt="game.name"
          />
        </div>
        <div class="text-container">
          <span class="game-name">{{ game.name }}&nbsp;</span>
          <span>
            <svg
              v-if="game.platforms.linux"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M443.66,405.05c-1.46-.79-2.85-1.54-4-2.2-6.47-3.83-13-10.52-11.85-17.83,2.42-15.94,2.89-23.47-.49-28.79a15.61,15.61,0,0,0-7.67-6.2l0-.06c1.41-2.56,2.26-5.66,2.83-10.12,1.44-11-5-44-13.7-70.7-8.08-24.68-29.24-50-44.7-68.56l-3.61-4.34c-23.88-28.93-24.34-38.19-26.55-82.67-.32-6.47-.69-13.8-1.17-22C329.87,41.43,304,16,256,16c-25.2,0-44.62,7.15-57.72,21.26C187.79,48.55,182,64,182,80.78c0,29.52,2,53,2.15,54.29,1.4,35.7,1,41.22-8.31,57.55-2.23,3.93-8.38,10.87-14.89,18.21-8.48,9.57-18.09,20.41-23.36,29.22-3.77,6.31-5.88,12.63-8.11,19.33-3.4,10.21-7.26,21.78-18.15,36.57-12.57,17.07-15.52,29.61-11,47.45v0c-4.94,6.45-4.83,14.37-4.75,20.23a25.84,25.84,0,0,1-.3,6.09c-2.29,7.59-12.42,9.4-22,10.18-1.58.12-3.1.21-4.55.29-7.26.39-13.53.74-17.13,6.3-3.47,5.36-1.12,13.8,2.14,25.48.72,2.58,1.46,5.25,2.19,8.06,1.83,7-.16,10.48-2.68,14.84-2.44,4.21-5.21,9-5.21,17.55,0,14.67,20,18,43.05,21.94,7.36,1.24,15,2.53,22.63,4.24a225.58,225.58,0,0,1,34.08,10.68c9.72,3.73,17.4,6.68,26.43,6.68,16.18,0,28.25-9.77,39.92-19.21L216.3,475c5.53-4.49,21.5-4,34.34-3.64,3.46.1,6.73.2,9.65.2l6.22,0c13.48-.08,31.94-.18,42.23,2.5,3.75,1,6.2,3.72,9.29,7.19C323.9,487.81,331.2,496,351.42,496c19.39,0,29.55-8.71,41.32-18.8,7.16-6.13,14.56-12.48,25.07-17.86,3.92-2,7.62-3.87,11.08-5.61C451.53,442.35,464,436.08,464,425.91,464,416,451.76,409.41,443.66,405.05ZM211.11,88.38a13.91,13.91,0,0,1,12.47,9c1.95,5.55,1.81,10.42.21,12.94,0,0-.22-1-.36-1.44a14.85,14.85,0,0,0-6.44-8.59,11.35,11.35,0,0,0-8.94-1.47c-4.26,1.13-8.41,5-8.91,18.79-5.16-10.47-2.31-18,.92-23C202.37,90.88,207.53,88.28,211.11,88.38Zm-17.5,375C192,479.24,175.2,479,170.09,478.59c-9.81-.82-21.66-4.69-33.13-8.43-4.52-1.47-9.19-3-13.73-4.34-13.2-3.89-30.12-6.74-43.72-9-3.22-.55-6.27-1.06-9.05-1.55s-4.61-1.27-5.2-2.3c-1-1.65.38-5.25,1.93-9.41C69.27,438,72.11,430.34,72,421c0-3.91-1.47-8.3-2.84-12.56-1.62-5-3.28-10.17-1.93-12.62,1.23-2.23,6.75-2.49,11.6-2.49h2.26c3.55,0,6.62.06,8.75-.53,6.51-1.81,14.86-6.92,17.81-13.88.9-2.17,1.37-6.94,2-14,.37-4.12.74-8.37,1.22-10.58a3.55,3.55,0,0,1,2.11-2.55c1.65-.77,6.78-1.91,18.63,4.08,11.18,5.65,22.88,25.84,34.2,45.37,3.56,6.14,6.92,11.94,10.3,17.36C190.15,441.14,194.94,450.2,193.61,463.4Zm128.84-31.56a68.74,68.74,0,0,1-4.55,10.9.58.58,0,0,1-1.08-.42,56.61,56.61,0,0,0,2.11-18.43c-.25-4.73-.4-7.59-2.66-8.51s-4.26.83-9.45,5.54c-1.1,1-2.36,2.14-3.78,3.4-10.8,9.47-26.88,20.68-55.61,23.37-16.84,1.59-27.59-4.63-30.92-8.14a2.16,2.16,0,0,0-3.07-.08,2.23,2.23,0,0,0-.51,2.29c2.12,6.84,1.2,12.26-.49,16.19-.95,2.2-1.85,2.05-2-.34-.25-4.64-1-9.88-3-14.19-3.11-6.94-7-14.34-8.89-17.88v-.05c3.24-1.49,8.86-4.83,11.37-10.88s4.48-18-9.82-31.74c-6.28-6.05-22.1-17.16-36.06-27-10.9-7.65-22.17-15.56-23.65-17.51-4.49-5.89-6.37-9.3-6.94-19.65.07-2.3.13-4.59.19-6.89l.27-2.49a.58.58,0,0,1,1.15,0,63.07,63.07,0,0,0,2,9.72c1.08,3.73,2.4,7.58,3.62,9.18,3.19,4.22,7.56,7.39,11.67,8.49a5.48,5.48,0,0,0,5-.72c2.93-2.33,2.65-7.6,2.19-16.34-.47-9-1.11-21.34,1.85-34.55,5.62-25,10.91-32.51,17.61-42,.86-1.22,1.75-2.47,2.65-3.79,1.44-2.08,3-4.1,4.67-6.23,7.47-9.61,15.93-20.49,13.92-40.95-.51-5.19-.76-8.83-.86-11.39a1,1,0,0,1,1.88-.59l.49.77,1.21,2c4.86,8,13.64,22.57,25.1,22.57a13.62,13.62,0,0,0,2.36-.21c23.39-3.93,51.9-30.25,52.17-30.51,3.12-3,2.84-6.14,1.64-7.91a5.18,5.18,0,0,0-6.45-1.72c-3.29,1.4-7.14,3.15-11.22,5-13.82,6.27-37,16.75-42.25,14.34a23.11,23.11,0,0,1-6.32-5.13,1,1,0,0,1,1.14-1.65c5.59,2.29,9.55,1.45,14.2-.08l1-.34c9.37-3.09,14.2-4.77,30.76-12.08a97.55,97.55,0,0,1,16.26-5.93c4-1,6.42-1.63,7.71-4.34a6.65,6.65,0,0,0-.5-7.13c-1.53-1.87-4.07-2.57-7-1.9-3.22.75-4.7,3-6.41,4.49-2.4,2.05-5,4.16-17.19,8.65-27,10-34.58,10.61-45.21,3.43-9.84-6.69-15.15-13.23-15.15-16,0-2.13,5.45-5.7,8.71-7.84,1.33-.87,2.59-1.69,3.62-2.46,4.34-3.22,13-11.39,13.38-11.73,5.4-5.41,17.91-2.18,25,2.58a2.23,2.23,0,0,0,1.72.41,2.14,2.14,0,0,0,1.68-2.58c-4.2-17.46-.13-27.34,4-32.55a22.58,22.58,0,0,1,17.48-8.48c12.81,0,21.76,10,21.76,24.42,0,11-2.82,16.79-5.48,20.3a1.73,1.73,0,0,1-2.58.18,1.78,1.78,0,0,1-.24-2.2A24.61,24.61,0,0,0,290,114a16.58,16.58,0,0,0-16.84-16.67c-3.94,0-13.48,1.5-16.77,15.44a29.81,29.81,0,0,0-.34,11.07l.08.71c.9,7.38,15.3,12.51,27.23,15.51,11.36,2.85,13,6.22,8.84,19.63s3.11,26.23,5.7,29.57a78.3,78.3,0,0,1,8.31,12.47,93.8,93.8,0,0,1,6.62,16.48c2.17,6.79,4.05,12.65,10.63,21.22,11.07,14.4,17.66,48.64,15,78-.21,2.41-.53,4.29-.77,5.67-.43,2.53-.72,4.2.66,5.38s3.16.7,7.26-.63l3.43-1.09a109.33,109.33,0,0,1,12.58-2.8,2.15,2.15,0,0,0,1.59-1.16c3.43-6.91,3.85-15.22,4-22.47q0-1.31.06-2.79c.19-7.77.45-18.93-2.95-32a1,1,0,0,1,1.93-.64,93,93,0,0,1,6.66,25.55c2.55,22.58-1.9,32.09-1.94,32.17a1.61,1.61,0,0,0,.95,2.25,17.12,17.12,0,0,1,6.95,4.67c1.46,1.66.93,2.4-1.14,1.62a36.26,36.26,0,0,0-12.77-2.29c-10.4,0-18.09,4.95-21.51,9.19-3.19,3.94-3.7,7.67-3.83,11.27l-.06.05c-7.48-.75-12.94,1.21-17.47,6.21l-.08.09c-6.26,7.75-4,24.63-1.29,38.48h0C322,400.61,326.31,419.68,322.45,431.84Zm96.1,10.07c-15.71,6.71-25.43,14.51-34,21.39-5.65,4.53-11,8.81-17.28,12.14-10.12,5.34-24.91,6.53-33.27-7.7-2.37-4-.71-9.86,1.58-17.95,3.05-10.75,7.23-25.46,3.71-44.65-.94-5.12-1.77-9.51-2.49-13.31C334,377,332.9,371.43,334,367c.63-2.45,3.43-3,5.87-3a20.83,20.83,0,0,1,2.63.19l0,0a29.51,29.51,0,0,0,7,12.1c5.7,5.86,13.63,8.83,23.56,8.85,2.1.17,25.94,1.55,36.54-22.4l0,0c1.46.18,3.65.7,4.3,2.3,1.28,3.19-.27,8.91-1.52,13.5-.9,3.31-1.68,6.16-1.63,8.37.31,16,11,22.78,25.83,32.16,1.79,1.13,3.66,2.31,5.55,3.54S445,425,445,426C444.48,430.79,425,439.16,418.55,441.91Z"
              >
              </path>
            </svg>
            <svg
              v-if="game.platforms.windows"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 50 50"
            >
              <path d="M4 4H24V24H4zM26 4H46V24H26zM4 26H24V46H4zM26 26H46V46H26z" />
            </svg>
            <svg
              v-if="game.platforms.mac"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 50 50"
              aria-hidden="true"
            >
              <path
                d="M 44.527344 34.75 C 43.449219 37.144531 42.929688 38.214844 41.542969 40.328125 C 39.601563 43.28125 36.863281 46.96875 33.480469 46.992188 C 30.46875 47.019531 29.691406 45.027344 25.601563 45.0625 C 21.515625 45.082031 20.664063 47.03125 17.648438 47 C 14.261719 46.96875 11.671875 43.648438 9.730469 40.699219 C 4.300781 32.429688 3.726563 22.734375 7.082031 17.578125 C 9.457031 13.921875 13.210938 11.773438 16.738281 11.773438 C 20.332031 11.773438 22.589844 13.746094 25.558594 13.746094 C 28.441406 13.746094 30.195313 11.769531 34.351563 11.769531 C 37.492188 11.769531 40.8125 13.480469 43.1875 16.433594 C 35.421875 20.691406 36.683594 31.78125 44.527344 34.75 Z M 31.195313 8.46875 C 32.707031 6.527344 33.855469 3.789063 33.4375 1 C 30.972656 1.167969 28.089844 2.742188 26.40625 4.78125 C 24.878906 6.640625 23.613281 9.398438 24.105469 12.066406 C 26.796875 12.152344 29.582031 10.546875 31.195313 8.46875 Z"
              />
            </svg>
            <svg
              v-if="game.platforms.android"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 50 50"
              aria-hidden="true"
            >
              <path
                d="M 16.28125 0.03125 C 16.152344 0.0546875 16.019531 0.078125 15.90625 0.15625 C 15.449219 0.464844 15.347656 1.105469 15.65625 1.5625 L 17.8125 4.78125 C 14.480469 6.546875 11.996094 9.480469 11.1875 13 L 38.8125 13 C 38.003906 9.480469 35.519531 6.546875 32.1875 4.78125 L 34.34375 1.5625 C 34.652344 1.105469 34.550781 0.464844 34.09375 0.15625 C 33.632813 -0.152344 32.996094 -0.0195313 32.6875 0.4375 L 30.3125 3.9375 C 28.664063 3.335938 26.875 3 25 3 C 23.125 3 21.335938 3.335938 19.6875 3.9375 L 17.3125 0.4375 C 17.082031 0.09375 16.664063 -0.0429688 16.28125 0.03125 Z M 19.5 8 C 20.328125 8 21 8.671875 21 9.5 C 21 10.332031 20.328125 11 19.5 11 C 18.667969 11 18 10.332031 18 9.5 C 18 8.671875 18.667969 8 19.5 8 Z M 30.5 8 C 31.332031 8 32 8.671875 32 9.5 C 32 10.332031 31.332031 11 30.5 11 C 29.671875 11 29 10.332031 29 9.5 C 29 8.671875 29.671875 8 30.5 8 Z M 8 15 C 6.34375 15 5 16.34375 5 18 L 5 32 C 5 33.65625 6.34375 35 8 35 C 8.351563 35 8.6875 34.925781 9 34.8125 L 9 15.1875 C 8.6875 15.074219 8.351563 15 8 15 Z M 11 15 L 11 37 C 11 38.652344 12.347656 40 14 40 L 36 40 C 37.652344 40 39 38.652344 39 37 L 39 15 Z M 42 15 C 41.648438 15 41.3125 15.074219 41 15.1875 L 41 34.8125 C 41.3125 34.921875 41.648438 35 42 35 C 43.65625 35 45 33.65625 45 32 L 45 18 C 45 16.34375 43.65625 15 42 15 Z M 15 42 L 15 46 C 15 48.207031 16.792969 50 19 50 C 21.207031 50 23 48.207031 23 46 L 23 42 Z M 27 42 L 27 46 C 27 48.207031 28.792969 50 31 50 C 33.207031 50 35 48.207031 35 46 L 35 42 Z"
              />
            </svg>
            <svg
              v-if="game.platforms.wine"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 14 14"
              aria-hidden="true"
            >
              <path
                d="m 6.2170986,12.980199 c -0.30275,-0.039 -0.48922,-0.1033 -0.55062,-0.191 -0.0683,-0.097 -0.0152,-0.234 0.13801,-0.3551 0.15284,-0.1208 0.5807,-0.3196 0.95555,-0.444 l 0.34193,-0.1134 0.0774,-0.1084 c 0.1387,-0.1944 0.20411,-0.3567 0.22041,-0.5469 0.0444,-0.5186 -0.15574,-1.5075997 -0.39318,-1.9425997 -0.16214,-0.297 -0.33149,-0.4599 -0.82163,-0.79 -0.15862,-0.1068 -0.33453,-0.2346 -0.39091,-0.2841 -0.33367,-0.2926 -0.71039,-0.8721 -0.99779,-1.535 -0.14688,-0.3388 -0.24015,-0.612 -0.38655,-1.1322 -0.0791,-0.2811 -0.18275,-0.6433 -0.23027,-0.8047 -0.43011,-1.4615 -0.6079,-2.1325 -0.64936,-2.4508 -0.0161,-0.1239 0.0304,-0.2204 0.16777,-0.3475 0.30469,-0.2821 0.80871,-0.5375 1.37135,-0.695 0.67638,-0.1892 1.28204,-0.27229997 1.66362,-0.228 0.49745,0.058 0.68948,0.1152 0.77252,0.2318 0.0799,0.1122 0.2544,0.8796 0.4638,2.0394 0.0601,0.3327 0.15239,0.8291 0.20514,1.1031 0.0527,0.274 0.10809,0.5703 0.12298,0.6583 0.15949,0.943 0.11136,2.0372 -0.11395,2.5909 -0.0272,0.067 -0.12669,0.2579 -0.22114,0.4248 -0.19185,0.339 -0.29103,0.5536 -0.3414,0.7386 -0.0469,0.1721 -0.0476,0.6224 -0.001,0.8629 0.12875,0.6711997 0.37934,1.3407997 0.57794,1.5442997 0.11103,0.1137 0.28039,0.2267 0.4505,0.3004 l 0.1389,0.06 0.32533,-0.02 c 0.73839,-0.046 1.2760994,0.053 1.3508894,0.248 0.12878,0.3364 -1.0526194,0.8508 -2.5009294,1.0888 -0.63091,0.1037 -1.37258,0.1452 -1.74481,0.098 z m -0.5186,-8.5113997 c 0.23794,-0.087 0.62217,-0.4021 0.82801,-0.6799 0.0548,-0.074 0.16759,-0.2452 0.25077,-0.3808 0.0832,-0.1355 0.18856,-0.2876 0.23416,-0.3379 0.1499,-0.1654 0.36669,-0.2464 0.55275,-0.2065 0.0496,0.011 0.0941,0.015 0.0988,0.011 0.0106,-0.01 -0.006,-0.099 -0.13089,-0.6983 -0.0983,-0.4719 -0.1725,-0.76 -0.20597,-0.8004 -0.0101,-0.012 -0.0603,-0.038 -0.11163,-0.057 -0.28687,-0.1073 -1.05801,-0.091 -1.67386,0.036 -0.70181,0.1445 -1.61714,0.5681 -1.76971,0.819 -0.0278,0.046 -0.0287,0.064 -0.008,0.1796 0.0124,0.071 0.0355,0.1846 0.0513,0.2531 0.0876,0.3781 0.46235,1.7134 0.48822,1.7397 0.0204,0.021 0.4071,0.1152 0.59383,0.1451 0.24573,0.039 0.66518,0.027 0.8026,-0.023 z"
              />
            </svg>
            <svg
              v-if="game.platforms.web"
              viewBox="0 0 48 48"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M24,46.28c-5.36,0-21.5-3.66-21.5-22.3A17.77,17.77,0,0,1,10.67,9a14.26,14.26,0,0,0,.72,5.46h.07a17.64,17.64,0,0,1,5.12-4,13.11,13.11,0,0,0-.26,2.51,11.22,11.22,0,0,0,.32,2.64,3.35,3.35,0,0,1,.49.43,11.16,11.16,0,0,0,2.63,2.26C22.24,19.66,24,20.48,24,20.48s-1.19,2.39-2.64,2.39c-5.9,0-7.08,3.84-7.08,3.84s1.19,7.93,9.55,7.93c3.08,0,9.18-1.7,9.18-8.83a8.83,8.83,0,0,0-4.63-7.88A7.41,7.41,0,0,1,34,19.56a11.42,11.42,0,0,0-10-5.9h-.7A15.82,15.82,0,0,1,30.72,1.72a24.26,24.26,0,0,0,3.74,5.71c2.61,3,6,6.51,7.36,10.17a24.29,24.29,0,0,0-2.07-6.36s5.75,3.37,5.75,13.67A21.69,21.69,0,0,1,24,46.28Z"
              />
            </svg>
            <svg
              v-if="game.platforms.web"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 305 305"
            >
              <path
                d="M95.506,152.511c0,31.426,25.567,56.991,56.994,56.991c31.425,0,56.99-25.566,56.99-56.991 c0-31.426-25.565-56.993-56.99-56.993C121.073,95.518,95.506,121.085,95.506,152.511z"
              >
              </path>
              <path
                d="M283.733,77.281c0.444-0.781,0.436-1.74-0.023-2.513c-13.275-22.358-32.167-41.086-54.633-54.159 C205.922,7.134,179.441,0.012,152.5,0.012c-46.625,0-90.077,20.924-119.215,57.407c-0.643,0.804-0.727,1.919-0.212,2.81 l42.93,74.355c0.45,0.78,1.28,1.25,2.164,1.25c0.112,0,0.226-0.008,0.339-0.023c1.006-0.137,1.829-0.869,2.083-1.852 c8.465-32.799,38.036-55.706,71.911-55.706c2.102,0,4.273,0.096,6.455,0.282c0.071,0.007,0.143,0.01,0.214,0.01H281.56 C282.459,78.545,283.289,78.063,283.733,77.281z"
              >
              </path>
              <path
                d="M175.035,224.936c-0.621-0.803-1.663-1.148-2.646-0.876c-6.457,1.798-13.148,2.709-19.889,2.709 c-28.641,0-55.038-16.798-67.251-42.794c-0.03-0.064-0.063-0.126-0.098-0.188L23.911,77.719c-0.446-0.775-1.272-1.25-2.165-1.25 c-0.004,0-0.009,0-0.013,0c-0.898,0.005-1.725,0.49-2.165,1.272C6.767,100.456,0,126.311,0,152.511 c0,36.755,13.26,72.258,37.337,99.969c23.838,27.435,56.656,45.49,92.411,50.84c0.124,0.019,0.248,0.027,0.371,0.027 c0.883,0,1.713-0.47,2.164-1.25l42.941-74.378C175.732,226.839,175.657,225.739,175.035,224.936z"
              >
              </path>
              <path
                d="M292.175,95.226h-85.974c-1.016,0-1.931,0.615-2.314,1.555c-0.384,0.94-0.161,2.02,0.564,2.73 c14.385,14.102,22.307,32.924,22.307,53c0,15.198-4.586,29.824-13.263,42.298c-0.04,0.058-0.077,0.117-0.112,0.178l-61.346,106.252 c-0.449,0.778-0.446,1.737,0.007,2.513c0.449,0.767,1.271,1.237,2.158,1.237c0.009,0,0.019,0,0.028,0 c40.37-0.45,78.253-16.511,106.669-45.222C289.338,231.032,305,192.941,305,152.511c0-19.217-3.532-37.956-10.498-55.698 C294.126,95.855,293.203,95.226,292.175,95.226z"
              >
              </path>
            </svg>
          </span>
        </div>
      </a>
    </div>
  </section>
</template>
<style scoped>
.gallery {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .img-container {
    overflow: hidden;
    height: 83%;

    img {
      object-fit: cover;
      border-radius: var(--border-radius) var(--border-radius)0 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: transform 0.3s ease-out;
    }
  }

  .text-container {
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 17%;

    svg {
      width: 1.2rem;
      height: 1.2rem;
      fill: var(--text);
    }
  }
}

.gallery a {
  flex: 0 0 calc(33.33% - 10px);
  margin-bottom: 10px;
  border-radius: var(--border-radius);
  background: var(--background);
  text-align: center;
  text-decoration: none;
  color: var(--text);
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-out;
}

.reverse {
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
}

.filter {
  display: flex;
  flex-wrap: wrap;

  select:hover {
    filter: drop-shadow(2px 2px 5px var(--shadow));
    cursor: pointer;
    color: var(--text-hover);

  }

  select:focus {
    filter: none;
    background: var(--background-third);
  }

  .button {
    text-align: center;
    color: var(--text);
    padding: 5px;
    flex-grow: 1;
    font-size: 1rem;
    border-radius: var(--border-radius);
  }
}

@media only screen and (min-width: 768px) {
  .gallery a:hover img {
    transform: scale(1.05);
  }
}

@media screen and (max-width: 600px) {
  .gallery a {
    flex: 0 0 calc(50% - 5px);
  }
}

@media screen and (max-width: 350px) {
  .filter .button {
    padding: 3px;
  }
}

@media screen and (max-width: 250px) {
  .gallery a {
    flex: 0 0 calc(100% - 5px);
  }
}
</style>
