<script setup>
import { ref, onMounted } from 'vue'
import { db } from '@/services'

const items = ref([])
const filteredItems = ref([])
const searchText = ref('')
const selectedCategory = ref('all')

const onItemClick = (url) => {
  window.open(url)
}

const filterItems = () => {
  if (selectedCategory.value) {
    filteredItems.value = items.value.filter(
      (item) =>
        item.keywords.toLowerCase().includes(searchText.value.toLowerCase()) &&
        item.categories.includes(selectedCategory.value)
    )
  } else {
    filteredItems.value = items.value.filter((item) =>
      item.keywords.toLowerCase().includes(searchText.value.toLowerCase())
    )
  }
}

const filterByCategory = (category) => {
  if (selectedCategory.value === category) {
    selectedCategory.value = 'all'
  } else {
    selectedCategory.value = category
  }
  filterItems()
}

const isCategoryActive = (category) => {
  return selectedCategory.value === category
}

onMounted(() => {
  items.value = db.hosting
  filterItems()
})
</script>
<template>
  <section class="content">
    <div class="menu">
      <button
        type="button"
        class="category hover"
        :class="{ active: isCategoryActive('all') }"
        @click="filterByCategory('all')"
      >
        <span>{{ $t('hosting.1.all') }}</span>
      </button>
      <button
        type="button"
        class="category hover"
        :class="{ active: isCategoryActive('services') }"
        @click="filterByCategory('services')"
      >
        <span>{{ $t('hosting.1.services') }}</span>
      </button>
      <button
        type="button"
        class="category hover"
        :class="{ active: isCategoryActive('social') }"
        @click="filterByCategory('social')"
      >
        <span>{{ $t('hosting.1.social') }}</span>
      </button>
      <button
        type="button"
        class="category hover"
        :class="{ active: isCategoryActive('games') }"
        @click="filterByCategory('games')"
      >
        <span>{{ $t('hosting.1.games') }}</span>
      </button>
      <button
        type="button"
        class="category hover"
        :class="{ active: isCategoryActive('+18') }"
        @click="filterByCategory('+18')"
      >
        <span>+18</span>
      </button>
    </div>
  </section>
  <section class="content">
    <div class="items-container">
      <div
        class="item hover"
        @click="$emit('open')"
      >
        <img
          src="/images/database.svg"
          alt="Add"
        />
        <span>{{ $t('hosting.0.add') }} +</span>
      </div>
      <div
        class="item hover"
        v-for="item in filteredItems"
        :key="item.name"
        @click="onItemClick(item.url)"
      >
        <img
          :src="item.icon"
          :alt="item.name"
        />
        <span>{{ item.name }}</span>
      </div>
    </div>
  </section>
  <section class="content">
    <p class="info">
      {{ $t('hosting.0.text1') }}
    </p>
  </section>
</template>
<style scoped>
.menu {
  display: flex;
  flex-wrap: wrap;
}

.category {
  padding: 5px;
  border-radius: var(--border-radius);
  flex-grow: 1;
  transition: transform 0.3s ease-in-out;
}

.category.active {
  background: var(--background-third);
}

.items-container {
  line-height: 1;
  padding: 0.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  background: var(--background);
  padding: 1rem;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.item img {
  color: var(--text);
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 10px;
  border-radius: 20px;
  text-align: center;
}

.item span {
  flex-grow: 1;
  text-align: center;
}
</style>
