<script setup>
import PhoenixAnimation from '@/components/PhoenixAnimation.vue'
</script>
<template>
  <section class="content">
    <div class="info">
      <PhoenixAnimation></PhoenixAnimation>
      <h1>
        {{ $t('main.0.title') }}
      </h1>
      <p>
        {{ $t('main.0.text') }}
      </p>
      <h3 class="black">
        {{ $t('main.0.status') }}
        &#9203;
      </h3>
      <b>Frontend:</b>
      <div class="progress-bar">
        <div
          class="progress"
          style="width: 65%"
        ></div>
      </div>
      <b>Backend:</b>
      <div class="progress-bar">
        <div
          class="progress"
          style="width: 5%"
        ></div>
      </div>
    </div>
  </section>
  <section class="content">
    <details
      open
      name="login"
    >
      <summary class="hover">
        <span>
          <h1>{{ $t('header.login') }}</h1>
        </span>
      </summary>
      <form
        class="login"
        action="/forum"
        method="post"
      >
        <div class="email">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="@"
            required
          />
        </div>
        <div class="password">
          <label for="password">Password:</label>
          <input
            autocomplete="off"
            type="password"
            id="password"
            name="password"
            placeholder="**********"
            required
          />
        </div>
        <button
          type="submit"
          class="hover"
          to="/forum"
        >
          <span>{{ $t('header.login') }}</span>
        </button>
      </form>
    </details>
  </section>
  <section class="content">
    <details name="login">
      <summary class="hover">
        <span>
          <h1>{{ $t('header.signup') }}</h1>
        </span>
      </summary>
      <form
        class="login"
        action="/forum"
        method="post"
      >
        <div class="email">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="@"
            required
          />
        </div>
        <div class="password">
          <label for="password">Password:</label>
          <input
            autocomplete="off"
            type="password"
            id="password"
            name="password"
            placeholder="**********"
            required
          />
        </div>
        <div class="password">
          <label for="password">Repeat password:</label>
          <input
            autocomplete="off"
            type="password"
            id="password"
            name="password"
            placeholder="**********"
            required
          />
        </div>
        <button
          type="submit"
          class="hover"
          to="/forum"
        >
          <span>{{ $t('header.signup') }}</span>
        </button>
      </form>
    </details>
  </section>
  <div class="content">
    <div
      class="glitch"
      style="background-image: url('/images/mainbanner.webp');"
    >
      <div
        class="glitch__img"
        style="background-image: url('/images/mainbanner.webp');"
      ></div>
      <div
        class="glitch__img"
        style="background-image: url('/images/mainbanner.webp');"
      ></div>
      <div
        class="glitch__img"
        style="background-image: url('/images/mainbanner.webp');"
      ></div>
      <div
        class="glitch__img"
        style="background-image: url('/images/mainbanner.webp');"
      ></div>
      <div
        class="glitch__img"
        style="background-image: url('/images/mainbanner.webp');"
      ></div>
    </div>
  </div>
</template>

<style scoped>
.banner {
  width: 100%;
  border-radius: var(--border-radius);
  opacity: 80%;
  display: flex;
  justify-content: center;
}

.login {
  padding: 1rem;
  width: 100%;

  label {
    display: block;
  }

  input {
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: var(--background-third);
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: var(--text);
  }

  .email:has(:focus) {
    input:invalid {
      border: 1px solid red;
    }

    input:valid {
      border: 1px solid green;
    }
  }

  .password:has(:focus) {
    input:invalid {
      border: 1px solid red;
    }

    input:valid {
      border: 1px solid green;
    }
  }

  button {
    background: var(--background-third);
    color: var(--text);
    padding: 0.7rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
  }
}

/*Progress info*/
.progress-bar {
  width: 100%;
  background: var(--text);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.progress {
  height: 1rem;
  background: var(--hover);
  border-radius: var(--border-radius);
  transition: width 0.5s ease-in-out;
}


/* Glitch effect */

.glitch,
.glitch__img {
  border-radius: var(--border-radius);
  background-repeat: no-repeat;
  background-size: cover;
}

.glitch {
  height: calc(100vw - 100px);
  max-height: 300px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.glitch__img {
  background-blend-mode: none;
  background-color: transparent;
  height: 100%;
  width: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate3d(0, 0, 0);

  .glitch &:nth-child(n+2) {
    animation-duration: 1.5s;
    animation-delay: 0;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }

  .glitch &:nth-child(2) {
    animation-name: glitch-anim-1;
  }

  .glitch &:nth-child(3) {
    animation-name: glitch-anim-2;
  }

  .glitch &:nth-child(4) {
    animation-name: glitch-anim-3;
  }

  .glitch &:nth-child(5) {
    animation-name: glitch-anim-4;
    background-blend-mode: overlay;
    background-color: #af4949;
  }
}

.glitch__img:nth-child(n+2) {
  opacity: 0;
}

@keyframes glitch-anim-1 {

  0%,
  100% {
    opacity: 1;
    transform: translate3d(40px, 0, 0) scale3d(-1, -1, 1);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }

  20% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }

  30% {
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }

  40% {
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }

  50% {
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }

  55% {
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }

  60% {
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }

  65% {

    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }

  70% {

    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }

  80% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }

  85% {
    clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%);
  }

  95% {
    clip-path: polygon(0 72%, 100% 72%, 100% 78%, 0 78%);
  }
}

@keyframes glitch-anim-2 {

  0%,
  100% {
    opacity: 1;
    transform: translate3d(-10px, 0, 0);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
  }

  10% {
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }

  15% {
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
  }

  17% {
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }

  19% {
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
  }

  33% {
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
  }

  35% {
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }

  40% {
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
  }

  45% {
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
  }

  49% {
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
  }

  50% {
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
  }

  55% {
    clip-path: polygon(0 15%, 100% 15%, 100% 35%, 0 35%);
  }

  60% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }

  70% {
    clip-path: polygon(0 65%, 100% 65%, 100% 60%, 0 60%);
  }

  80% {
    clip-path: polygon(0 80%, 100% 80%, 100% 85%, 0 85%);
  }

  90% {
    clip-path: polygon(0 55%, 100% 55%, 100% 65%, 0 65%);
  }
}

@keyframes glitch-anim-3 {

  0%,
  100% {
    opacity: 1;
    transform: translate3d(0, -5px, 0) scale3d(-1, -1, 1);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
  }

  5% {
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
  }

  11% {
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
  }

  20% {
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }

  25% {
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
  }

  35% {
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
  }

  42% {
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
  }

  48% {
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
  }

  50% {
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }

  56% {
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
  }

  61% {
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
  }

  68% {
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
  }

  72% {
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
  }

  77% {
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
  }

  81% {
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
  }

  86% {
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
  }

  90% {
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }

  92% {
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
  }

  94% {
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
  }
}

@keyframes glitch-anim-4 {

  0%,
  5% {
    opacity: 0.2;
    transform: translate3d(10px, 5px, 0);
  }

  5.5%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}
</style>
