<script setup>
import DownloadIcon from '@/components/icons/IconDownload.vue'
import { ref } from 'vue'
import { db } from '@/services/index.js'
const vanilla = ref([])
const mods = ref([])

vanilla.value = db.vanilla
mods.value = db.mods
</script>
<template>
  <div class="main">
    <section class="content">
      <h1 class="black">Ignisus&nbsp;Land</h1>
      <h2>IP:&nbsp;<i>minecraft.ignisus.org</i></h2>
    </section>
    <section class="content">
      <h2>{{ $t('minecraft.0.title') }}:</h2>
      <p>{{ $t('minecraft.0.text1') }}.</p>
      <p>{{ $t('minecraft.0.text2') }}.</p>
      <p>{{ $t('minecraft.0.text3') }}.</p>
      <p>{{ $t('minecraft.0.text4') }}.</p>
      <br />
      <p>
        Login <b>Premiums</b> can skip this, first "/register [password] [password]", them only "/login
        [password]"
      </p>
      <br />
    </section>
    <!-- Vanilla -->
    <details
      name="minecraft"
      class="content"
    >
      <summary class="server hover">
        <span>Vanilla&nbsp;(1.21.4)&nbsp;&#8597;</span>
      </summary>
      <div>
        <a
          class="hover"
          href="https://map.ignisus.org/"
          target="_blank"
        >
          <span>
            <svg
              viewBox="0 0 27 23"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.25 8.51464C4.25 4.45264 7.77146 1.25 12 1.25C16.2285 1.25 19.75 4.45264 19.75 8.51464C19.75 12.3258 17.3871 16.8 13.5748 18.4292C12.574 18.8569 11.426 18.8569 10.4252 18.4292C6.61289 16.8 4.25 12.3258 4.25 8.51464ZM12 2.75C8.49655 2.75 5.75 5.38076 5.75 8.51464C5.75 11.843 7.85543 15.6998 11.0147 17.0499C11.639 17.3167 12.361 17.3167 12.9853 17.0499C16.1446 15.6998 18.25 11.843 18.25 8.51464C18.25 5.38076 15.5034 2.75 12 2.75ZM12 7.75C11.3096 7.75 10.75 8.30964 10.75 9C10.75 9.69036 11.3096 10.25 12 10.25C12.6904 10.25 13.25 9.69036 13.25 9C13.25 8.30964 12.6904 7.75 12 7.75ZM9.25 9C9.25 7.48122 10.4812 6.25 12 6.25C13.5188 6.25 14.75 7.48122 14.75 9C14.75 10.5188 13.5188 11.75 12 11.75C10.4812 11.75 9.25 10.5188 9.25 9ZM3.59541 14.9966C3.87344 15.3036 3.84992 15.7779 3.54288 16.0559C2.97519 16.57 2.75 17.0621 2.75 17.5C2.75 18.2637 3.47401 19.2048 5.23671 19.998C6.929 20.7596 9.31951 21.25 12 21.25C14.6805 21.25 17.071 20.7596 18.7633 19.998C20.526 19.2048 21.25 18.2637 21.25 17.5C21.25 17.0621 21.0248 16.57 20.4571 16.0559C20.1501 15.7779 20.1266 15.3036 20.4046 14.9966C20.6826 14.6895 21.1569 14.666 21.4639 14.9441C22.227 15.635 22.75 16.5011 22.75 17.5C22.75 19.2216 21.2354 20.5305 19.3788 21.3659C17.4518 22.2331 14.8424 22.75 12 22.75C9.15764 22.75 6.54815 22.2331 4.62116 21.3659C2.76457 20.5305 1.25 19.2216 1.25 17.5C1.25 16.5011 1.77305 15.635 2.53605 14.9441C2.84309 14.666 3.31738 14.6895 3.59541 14.9966Z"
              >
              </path>
            </svg>
          </span>
          <span>Online&nbsp;Map</span><br />
        </a>
        <div class="slider">
          <input
            class="slide"
            type="radio"
            name="image-slide"
            checked="checked"
          >
          <img
            src="/images/map_earth.webp"
            title="IgnisusLand Map"
          ></img>
          <input
            class="slide"
            type="radio"
            name="image-slide"
          >
          <img
            src="/images/mine_furniture.webp"
            alt=""
          >
          <input
            class="slide"
            type="radio"
            name="image-slide"
          >
          <img
            src="/images/mine_dragonball.webp"
            alt=""
          >
          <input
            class="slide"
            type="radio"
            name="image-slide"
          >
          <img
            src="/images/mine_adventure.webp"
            alt=""
          >
          <input
            class="slide"
            type="radio"
            name="image-slide"
          >
          <img
            src="/images/mine_bikini.webp"
            alt=""
          >
          <input
            class="slide"
            type="radio"
            name="image-slide"
          >
          <img
            src="/images/mine_raimon.webp"
            alt=""
          >
        </div>
        <h1>Extras:</h1>
        <a
          class="hover"
          target="_blank"
          href="https://modrinth.com/resourcepack/rotrblocks/versions#all-versions"
        >
          <span>
            <DownloadIcon />
          </span>
          <span>Resourcepack</span>
        </a>
        <a
          class="hover"
          target="_blank"
          href="https://modrinth.com/shader/bsl-shaders/versions#all-versions"
        >
          <span>
            <DownloadIcon />
          </span>
          <span>Shaderpack</span>
        </a>
        <h2>Plugins:</h2>
        <div
          class="item hover"
          v-for="plugin in vanilla"
          :key="plugin.id"
        >
          <a
            :href="plugin.url"
            target="_blank"
          >
            <span class="black">{{ plugin.name }}</span>
          </a>
          <p>{{ plugin.description }}</p>
        </div>
      </div>
      <br />
    </details>
    <!-- Mods -->
    <details
      name="minecraft"
      class="content"
    >
      <summary class="server hover">
        <span>Mods&nbsp;(Closed)&nbsp;&#8597;</span>
      </summary>
      <div>
        <a
          class="hover"
          href="https://gitlab.com/ignisus/ignisusland/mods/-/archive/main/mods-main.zip?path=mods"
          target="_blank"
        >
          <DownloadIcon />
          <span>Mods</span>
        </a>
        <a
          class="hover"
          href="https://gitlab.com/ignisus/ignisusland/mods/-/archive/main/mods-main.zip?path=world"
          target="_blank"
        >
          <DownloadIcon />
          <span>World</span>
        </a>
        <h2>Mods:</h2>
        <div
          class="item hover"
          v-for="plugin in mods"
          :key="plugin.id"
        >
          <a
            :href="plugin.url"
            target="_blank"
          >
            <span class="black">{{ plugin.name }}</span>
          </a>
          <p>{{ plugin.description }}</p>
        </div>
        <br />
      </div>
    </details>
  </div>
</template>

<style scoped>
.main * {
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;

}

a {
  color: var(--text);
}

.content svg {
  width: 1.5rem;
}

img {
  width: 50%;
}

h1,
h2,
h3 {
  padding: 1%;
}

.server {
  span {
    font-size: 2rem;
  }
}

.item {
  background: var(--background);
  border-radius: var(--border-radius);
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  p {
    color: var(--text);
    margin-top: 5px;
  }

  a {
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }

}

.slider {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  aspect-ratio: 2.5 / 1;
}

.slide {
  appearance: none;
  z-index: 100;
  width: 1.2rem;
  height: 1.2rem;
  background: var(--background-second);
  border-radius: var(--border-radius);
  cursor: pointer;
  transform: translateY(13vw);
}

.slide:last-of-type {
  margin: 0;
}

.slide:focus {
  outline: none;
}

.slide+* {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform ease-in-out 400ms;
  overflow: hidden;
}

.slide:checked {
  background: var(--text);
  transform: translateY(13vw) scale(1.3);
}

.slide:checked+* {
  transform: translateX(0);
  z-index: 1;
}
</style>
