<script setup></script>

<template>
  <section class="content container">
    <h1>{{ $t('policy.title') }}</h1>
    <p>{{ $t('policy.date') }}:&nbsp;<time>08/02/2024</time></p>

    <p>{{ $t('policy.description') }}</p>

    <h2>&#10148;&nbsp;{{ $t('policy.1') }}</h2>
    <h3>{{ $t('policy.account') }}</h3>
    <p>{{ $t('policy.accountText') }}</p>
    <h3>{{ $t('policy.cookies') }}</h3>
    <p>{{ $t('policy.cookiesText') }}</p>

    <h2>&#10148;&nbsp;{{ $t('policy.2') }}</h2>
    <p>{{ $t('policy.2text') }}</p>

    <h2>&#10148;&nbsp;{{ $t('policy.3') }}</h2>
    <p>{{ $t('policy.3text') }}</p>

    <h2>&#10148;&nbsp;{{ $t('policy.4') }}</h2>
    <p>{{ $t('policy.4text') }}</p>
    <p>{{ $t('policy.4text2') }}</p>

    <h2>&#10148;&nbsp;{{ $t('policy.5') }}</h2>
    <p>{{ $t('policy.5text') }}</p>
    <p>{{ $t('policy.5text2') }}</p>
    <p>{{ $t('policy.5text3') }}</p>

    <h2>&#10148;&nbsp;{{ $t('policy.6') }}</h2>
    <p>{{ $t('policy.6text') }}</p>

    <h2>&#10148;&nbsp;{{ $t('policy.7') }}</h2>
    <p>info&#64;ignisus.org</p>
  </section>
</template>

<style scoped>
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

p {
  margin-bottom: 10px;
}
</style>
