<script setup>
import { ref, watch } from 'vue'
import { useI18n } from 'vue-i18n'
import DayIcon from '@/components/icons/IconDay.vue'
import NightIcon from '@/components/icons/IconNight.vue'
const { locale } = useI18n()
const selectedLanguage = ref(locale.value)
const selectedTheme = ref(localStorage.getItem('theme'))

const changeLanguage = () => {
  locale.value = selectedLanguage.value
  localStorage.setItem('language', selectedLanguage.value)
}

const changeTheme = (theme) => {
  selectedTheme.value = theme
  localStorage.setItem('theme', selectedTheme.value)
  document.body.className = selectedTheme.value
}

watch(selectedTheme, (newTheme) => {
  document.body.className = newTheme
})
</script>

<template>
  <div class="warp">
    <section class="grid1">
      <h3>{{ $t('settings.0.title') }}:</h3>
    </section>
    <section class="grid2">
      <span>{{ $t('settings.0.theme') }}:</span>
    </section>
    <section class="grid3 hover">
      <select
        class="btn"
        v-model="selectedTheme"
        @change="() => changeTheme(selectedTheme)"
      >
        <option value="adwaita-dark">
          <NightIcon />
          Adwaita&nbsp;Dark
        </option>
        <option value="adwaita-light">
          <DayIcon />
          Adwaita&nbsp;Light
        </option>
        <option value="qt-dark">
          <NightIcon />
          QT&nbsp;Dark
        </option>
        <option value="qt-light">
          <DayIcon />
          QT&nbsp;Light
        </option>
        <option value="pinky">
          <DayIcon />
          Pinky
        </option>
      </select>
    </section>
    <section class="grid4">
      <span>{{ $t('settings.0.language') }}:</span>
    </section>
    <section class="grid5 hover">
      <select
        class="btn"
        v-model="selectedLanguage"
        @change="changeLanguage"
      >
        <option value="en">English</option>
        <option value="es">Español</option>
        <option value="fr">Français</option>
      </select>
    </section>
    <section class="grid6">
      <h3>{{ $t('settings.1.title') }}:</h3>
    </section>
    <section class="grid7">
      <router-link to="/login">
        <p class="btn hover">
          <span>{{ $t('header.login') }}&nbsp;/&nbsp;{{ $t('header.signup') }}</span>
        </p>
      </router-link>
    </section>
    <section class="grid8">
      <h3>{{ $t('settings.2.title') }}:</h3>
    </section>
    <section class="grid9">
      <a
        href="https://gitlab.com/ignisus"
        target="_blank"
      >
        <p class="btn hover">
          <span>&nbsp;</span>
          <span>{{ $t('settings.2.text1') }}</span>
        </p>
      </a>
    </section>
    <section class="grid10">
      <router-link to="/policy">
        <p class="btn hover">
          <span>&nbsp;</span>
          <span>{{ $t('settings.2.text2') }}</span>
        </p>
      </router-link>
    </section>
  </div>
</template>

<style scoped>
.btn {
  color: var(--text);
  padding: 10px;
  width: 100%;
  text-align: center;
}

.warp {
  display: grid;
  margin: 0 auto;
  max-width: 1000px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(auto);
  grid-gap: 10px;

  section {
    background: var(--background-second);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      width: 100%;
      height: 100%;
    }
  }

  .grid1 {
    grid-column: 1 / -1;
  }

  .grid2 {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .grid3 {
    grid-column: 2 / 3;
    grid-row: 2;

    svg {
      width: 1rem;
      height: 1rem;
    }

    select {
      font-size: 1rem;

    }

    option {
      background: var(--background-second);
      color: var(--text);
    }
  }

  .grid4 {
    grid-column: 3 / 4;
    grid-row: 2;
  }

  .grid5 {
    grid-column: 4 / 5;
    grid-row: 2;

    select {
      font-size: 1rem;

    }
  }

  .grid6 {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  .grid7 {
    grid-column: 1 / -1;
    grid-row: 4;
  }

  .grid8 {
    grid-column: 1 / -1;
    grid-row: 5;
  }

  .grid9 {
    grid-column: 1 / 3;
    grid-row: 6;
  }

  .grid10 {
    grid-column: 3 / 5;
    grid-row: 6;
  }
}
</style>
