<script setup>
import { ref } from 'vue'
import { db } from '@/services/index.js'
import PostIcon from '@/components/icons/IconPost.vue'
import ReplyIcon from '@/components/icons/IconReply.vue'
import SaveIcon from '@/components/icons/IconSave.vue'
import LikeIcon from '@/components/icons/IconLike.vue'
import ShareIcon from '@/components/icons/IconShare.vue'

const users = ref(null)
const selectedSection = ref('posts')
const posts = ref([])
const selPost = ref(null)
const showDelete = ref(false)

const loadUsers = async () => {
  users.value = db.users[0]
}

const selectSection = (section) => {
  selectedSection.value = selectedSection.value === section ? selectedSection.value : section
}

const loadImages = async () => {
  posts.value = db.posts.filter(post => post.user === 'anonymous');
}

const openImage = (post) => {
  if (!showDelete.value) {
    selPost.value = post
  }
}

const closeImage = () => {
  selPost.value = null
}

const toggleDelete = () => {
  showDelete.value = !showDelete.value
  if (showDelete.value) {
    closeImage()
  }
}

const deletePost = (postId) => {
  const post = posts.value.find((p) => p.id === postId)
  if (post) {
    post.isVisible = false
  }
}

loadUsers()
loadImages()

const timeSince = (dateString) => {
  const date = new Date(dateString);
  const now = new Date();
  const seconds = Math.floor((now - date) / 1000);
  const minutes = Math.floor(seconds / 60);
  const hours = Math.floor(minutes / 60);
  const days = Math.floor(hours / 24);
  const months = Math.floor(days / 30);
  const years = Math.floor(days / 365);

  if (years > 0) return `${years} years`;
  if (months > 0) return `${months} months`;
  if (days > 0) return `${days} days`;
  if (hours > 0) return `${hours} hours`;
  if (minutes > 0) return `${minutes} minutes`;
  return 'today';
};

</script>
<template>
  <div class="warp">
    <section class="grid1">
      <img
        :src="`/users/${users.name}.webp`"
        alt="profile"
      />
      <h3>@{{ users.name }}</h3>
    </section>
    <section class="grid2">
      <p>{{ users.description }}</p>
    </section>
    <section class="grid3">
      {{ users.followers }}
      <span>{{ $t('forum.0.followers') }}</span>
    </section>
    <section class="grid4">
      {{ users.following }}
      <span>{{ $t('forum.0.following') }}</span>
    </section>
    <section
      class="grid5 btn"
      @click="selectSection('posts')"
      :class="{ selected: selectedSection === 'posts' }"
    >
      <PostIcon />
    </section>
    <section
      class="grid5 btn"
      @click="selectSection('replies')"
      :class="{ selected: selectedSection === 'replies' }"
    >
      <ReplyIcon />
    </section>
    <section
      class="grid5 btn"
      @click="selectSection('likes')"
      :class="{ selected: selectedSection === 'likes' }"
    >
      <LikeIcon />
    </section>
    <section
      class="grid5 btn"
      @click="selectSection('saved')"
      :class="{ selected: selectedSection === 'saved' }"
    >
      <SaveIcon />
    </section>
  </div>
  <section v-if="selectedSection === 'posts'">
    <div class="manage-posts">
      <section class="btn">
        <button
          class="hover"
          type="button"
          @click="toggleDelete"
        >
          <span>
            <svg
              width="30"
              height="30"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M22,5H17V2a1,1,0,0,0-1-1H8A1,1,0,0,0,7,2V5H2A1,1,0,0,0,2,7H3.117L5.008,22.124A1,1,0,0,0,6,23H18a1,1,0,0,0,.992-.876L20.883,7H22a1,1,0,0,0,0-2ZM9,3h6V5H9Zm8.117,18H6.883L5.133,7H18.867Z"
              >
              </path>
            </svg>
          </span>
        </button>
      </section>
    </div>
    <section class="content grid-container">
      <div
        v-for="post in posts"
        :key="post.id"
      >
        <div
          class="grid-item"
          v-if="post.isVisible"
          @click="openImage(post)"
        >
          <span
            class="delete-btn"
            v-if="showDelete"
            @click.stop="deletePost(post.id)"
          >
            <svg
              width="60"
              height="60"
              viewBox="0 0 24 24"
            >
              <path
                d="M10.6117 12.3094C10.3225 12.0128 9.84769 12.0068 9.55111 12.296C9.25453 12.5852 9.24852 13.06 9.53769 13.3566L10.6117 12.3094ZM11.163 15.0236C11.4522 15.3202 11.927 15.3262 12.2236 15.037C12.5202 14.7478 12.5262 14.273 12.237 13.9764L11.163 15.0236ZM9.53769 15.6434C9.24852 15.94 9.25453 16.4148 9.55111 16.704C9.84769 16.9932 10.3225 16.9872 10.6117 16.6906L9.53769 15.6434ZM12.237 15.0236C12.5262 14.727 12.5202 14.2522 12.2236 13.963C11.927 13.6738 11.4522 13.6798 11.163 13.9764L12.237 15.0236ZM13.8623 13.3566C14.1515 13.06 14.1455 12.5852 13.8489 12.296C13.5523 12.0068 13.0775 12.0128 12.7883 12.3094L13.8623 13.3566ZM11.163 13.9764C10.8738 14.273 10.8799 14.7478 11.1764 15.037C11.473 15.3262 11.9478 15.3202 12.237 15.0236L11.163 13.9764ZM12.7883 16.6906C13.0775 16.9872 13.5523 16.9932 13.8489 16.704C14.1455 16.4148 14.1515 15.94 13.8623 15.6434L12.7883 16.6906ZM12.237 13.9764C11.9478 13.6798 11.473 13.6738 11.1764 13.963C10.8799 14.2522 10.8738 14.727 11.163 15.0236L12.237 13.9764ZM13.418 6.25C13.8322 6.25 14.168 5.91421 14.168 5.5C14.168 5.08579 13.8322 4.75 13.418 4.75V6.25ZM10.1683 4.75C9.75407 4.75 9.41829 5.08579 9.41829 5.5C9.41829 5.91421 9.75407 6.25 10.1683 6.25V4.75ZM16.575 8.25C16.9892 8.25 17.325 7.91421 17.325 7.5C17.325 7.08579 16.9892 6.75 16.575 6.75V8.25ZM6.82501 6.75C6.4108 6.75 6.07501 7.08579 6.07501 7.5C6.07501 7.91421 6.4108 8.25 6.82501 8.25V6.75ZM7.53894 18.7678L7.00194 19.2913L7.00194 19.2913L7.53894 18.7678ZM6.82501 17H7.57501H6.82501ZM9.53769 13.3566L11.163 15.0236L12.237 13.9764L10.6117 12.3094L9.53769 13.3566ZM10.6117 16.6906L12.237 15.0236L11.163 13.9764L9.53769 15.6434L10.6117 16.6906ZM12.7883 12.3094L11.163 13.9764L12.237 15.0236L13.8623 13.3566L12.7883 12.3094ZM13.8623 15.6434L12.237 13.9764L11.163 15.0236L12.7883 16.6906L13.8623 15.6434ZM13.418 4.75H10.1683V6.25H13.418V4.75ZM16.575 6.75H6.82501V8.25H16.575V6.75ZM7.63719 10.25H15.7628V8.75H7.63719V10.25ZM15.7628 10.25C15.7739 10.25 15.7864 10.2535 15.8001 10.2676C15.8142 10.2819 15.825 10.3037 15.825 10.333H17.325C17.325 9.47675 16.6434 8.75 15.7628 8.75V10.25ZM15.825 10.333V17H17.325V10.333H15.825ZM15.825 17C15.825 17.9845 15.0517 18.75 14.1375 18.75V20.25C15.9157 20.25 17.325 18.7769 17.325 17H15.825ZM14.1375 18.75H9.26251V20.25H14.1375V18.75ZM9.26251 18.75C8.82117 18.75 8.39395 18.5704 8.07594 18.2442L7.00194 19.2913C7.59816 19.9029 8.41092 20.25 9.26251 20.25V18.75ZM8.07594 18.2442C7.7573 17.9174 7.57501 17.4702 7.57501 17H6.07501C6.07501 17.8559 6.40634 18.6805 7.00194 19.2913L8.07594 18.2442ZM7.57501 17V10.333H6.07501V17H7.57501ZM7.57501 10.333C7.57501 10.3037 7.58587 10.2819 7.59989 10.2676C7.61359 10.2535 7.62614 10.25 7.63719 10.25V8.75C6.75664 8.75 6.07501 9.47675 6.07501 10.333H7.57501Z"
                fill="#e01b24"
              ></path>
            </svg>
          </span>
          <p class="alt-no-carga">{{ post.description }}</p>
          <img
            v-if="post.image"
            :src="`/posts/${post.id}.webp`"
          />
        </div>
      </div>
      <div
        v-if="selPost"
        class="lightbox"
      >
        <span
          class="close"
          @click="closeImage"
        ></span>
        <div class="post">
          <div class="user hover">
            <img
              :src="`/users/${selPost.user}.webp`"
              alt=""
            />&nbsp;
            <span>
              <b>&#64;{{ selPost.user }}</b>
            </span>
            <time>
              <i v-if="selPost">&nbsp;·&nbsp;{{ timeSince(selPost.created) }}</i>
            </time>
          </div>
          <span
            class="close-btn"
            @click="closeImage"
          >
            <svg
              width="32"
              height="32"
              fill="currentColor"
              class="bi bi-x-lg"
              viewBox="0 0 16 16"
            >
              <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
              />
            </svg>
          </span>
          <div class="photo">
            <img
              :src="`/posts/${selPost.id}.webp`"
              alt=""
            />
          </div>
          <p>
            {{ selPost.description }}
            <i>#{{ selPost.category }}</i>
          </p>
          <div class="post-btn">
            <div class="left">
              <button type="button"><span>Reply...</span></button>
            </div>
            <div class="right">
              <button
                type="button"
                class="share"
              >
                <ShareIcon />
              </button>
              <button
                type="button"
                class="love"
              >
                <LikeIcon />
              </button>
              <button
                type="button"
                class="save"
              >
                <SaveIcon />
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section v-if="selectedSection === 'replies'">
    <h1>Replies</h1>
  </section>
  <section v-if="selectedSection === 'likes'">
    <h1>Likes</h1>
  </section>
  <section v-if="selectedSection === 'saved'">
    <h1>Saved</h1>
  </section>
</template>
<style scoped>
.btn {
  display: flex;
  overflow: hidden;

  button {
    flex-grow: 1;
  }
}

section.selected {
  background: var(--background-third) !important;
}


.manage-posts {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
  margin: auto;
  max-width: 1600px;

  .btn {
    position: relative;
    max-width: 1600px;
    pointer-events: auto;
    margin: auto 6vh 8vh auto;
    right: 0;
    width: 50px;
    height: 50px;

    button {
      border-radius: 50%;
      background: var(--background-second);
      justify-content: center;
      align-items: center;
    }
  }
}

.warp {
  display: grid;
  margin: 0 auto;
  max-width: 1000px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(auto);
  grid-gap: 10px;
  margin-bottom: 10px;

  section {
    background: var(--background-second);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid1 {
    grid-column: 1 / 3;
    grid-row: 1 / 4;

    img {
      padding-top: 10px;
      width: 40%;
    }
  }

  .grid2 {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    padding: 3px;
  }

  .grid3 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    cursor: pointer;
  }

  .grid4 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    cursor: pointer;
  }

  .grid5 {
    cursor: pointer;

    svg {
      stroke: var(--text);
      fill: none;
      width: 2rem;
    }
  }

  .grid6 {
    grid-column: 1 / 3;
    grid-row: 5;

    svg {
      stroke: var(--text);
      fill: none;
      width: 2rem;
    }
  }

  .grid7 {
    grid-column: 3 / 5;
    grid-row: 5;
  }
}

.delete-btn {
  background-color: rgba(255, 255, 255, 0.719);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  button {
    color: var(--text);
    padding: 10px;
  }
}

.left button span {
  background-image: var(--hover);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.photo {
  overflow: hidden;
  text-align: center;

  img {
    width: 100%;
    max-width: 40vh;
  }
}

.right button:hover {
  transform: scale(1.2);
}

.left button:hover {
  cursor: pointer;
}

.right svg,
.share svg {
  width: 25px;
  height: 25px;
  stroke: var(--text);
  fill: none;
  cursor: pointer;
}

.share svg {
  fill: var(--text);
}

.right svg:hover {
  stroke: var(--text);
  fill: var(--text);
}

.post {
  background: var(--background-second);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 1000px;
  margin: 10px auto;

  .user {
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  h3 {
    margin: 0;
  }

  p {
    padding: 0 10px 0 10px;
  }
}

.grid-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  background: var(--background);
}

.grid-item {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  background: var(--background-second);

  img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  .post {
    z-index: 9999;
    width: 100%;
    max-width: 70vh;
    position: relative;

    .close-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }
  }
}

.close {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9000;
}

@media only screen and (min-width: 768px) {
  .grid-item:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

@media screen and (max-width: 768px) {
  .photo img {
    width: 40vh;
    max-width: 100%;
  }
}
</style>
