<script setup>
defineProps({
  message: {
    type: Object,
    required: true,
  },
});
</script>
<template>
  <li :class="['message', message.sender]">
    <span><strong>{{ message.sender === 'bot' ? 'Ignisus AI' : 'You' }}</strong></span>
    <p>{{ message.content }}</p>
  </li>
</template>
<style scoped>
.message {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  font-size: 1rem;

}

.message p {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius);
  padding: 4px 8px;
  margin-top: 4px;
  align-self: flex-start;
  background: var(--background-third);
}

.message.bot p {
  background: var(--background);
}
</style>
