<script setup></script>
<template>
  <section>
    <div
      class="create-btn content hover"
      @click="$emit('close')"
    >
      <span>Close</span>
    </div>
    <div class="create-btn">
      <input
        type="file"
        accept="image/*"
        id="postInput"
      />
      <label
        class="hover"
        for="postInput"
      >
        <span>
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1zM2 2.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V8H9.5A1.5 1.5 0 0 0 8 9.5V14H2.5a.5.5 0 0 1-.5-.5zm7 11.293V9.5a.5.5 0 0 1 .5-.5h4.293z"
            />
          </svg>
        </span>
        <span>&nbsp;{{ $t('create.0.post') }}</span>
      </label>
    </div>
    <div class="create-btn">
      <input
        type="file"
        accept="video/*"
        id="gameInput"
      />
      <label
        class="hover"
        for="gameInput"
      >
        <span>
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
          >
            <path
              d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"
            />
            <path
              d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"
            />
          </svg>
        </span>
        <span>&nbsp;{{ $t('create.0.game') }}</span>
      </label>
    </div>
    <section class="create-btn">
      <details>
        <summary class="content hover">
          <span>
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0"
              />
              <path
                d="M12.096 6.223A5 5 0 0 0 13 5.698V7c0 .289-.213.654-.753 1.007a4.5 4.5 0 0 1 1.753.25V4c0-1.007-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1s-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4v9c0 1.007.875 1.755 1.904 2.223C4.978 15.71 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.5 4.5 0 0 1-.813-.927Q8.378 15 8 15c-1.464 0-2.766-.27-3.682-.687C3.356 13.875 3 13.373 3 13v-1.302c.271.202.58.378.904.525C4.978 12.71 6.427 13 8 13h.027a4.6 4.6 0 0 1 0-1H8c-1.464 0-2.766-.27-3.682-.687C3.356 10.875 3 10.373 3 10V8.698c.271.202.58.378.904.525C4.978 9.71 6.427 10 8 10q.393 0 .774-.024a4.5 4.5 0 0 1 1.102-1.132C9.298 8.944 8.666 9 8 9c-1.464 0-2.766-.27-3.682-.687C3.356 7.875 3 7.373 3 7V5.698c.271.202.58.378.904.525C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777M3 4c0-.374.356-.875 1.318-1.313C5.234 2.271 6.536 2 8 2s2.766.27 3.682.687C12.644 3.125 13 3.627 13 4c0 .374-.356.875-1.318 1.313C10.766 5.729 9.464 6 8 6s-2.766-.27-3.682-.687C3.356 4.875 3 4.373 3 4"
              />
            </svg>
          </span>
          <span> &nbsp;{{ $t('create.0.host') }} </span>
        </summary>
        <br />
        <section class="content">
          <h1>Contact:</h1>
          <a
            class="hover"
            href="https://signal.me/#p/+34625191020"
          >
            <span>Signal</span>
          </a>
          <p>info&#64;ignisus.org</p>
          <br />
        </section>
      </details>
    </section>
  </section>
</template>
<style scoped>
.create-btn {
  max-width: 768px;
  margin: 20px auto;
  text-align: center;

  input[type='file'] {
    display: none;
  }

  label {
    background: var(--background-second);
    display: inline-block;
    padding: 10px;
    border-radius: var(--border-radius);
    width: 350px;
  }

  summary {
    padding: 10px;
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .create-btn {
    label {
      width: 100%;
    }
  }
}
</style>
