<script setup>
import { ref, onMounted } from "vue";
import axios from "axios";
import { useRouter } from "vue-router";

const posts = ref([]);
const loading = ref(false);
const nextPage = ref(1);
const loadTrigger = ref(null);
const router = useRouter();

const fetchPosts = async () => {
  if (loading.value) return;
  loading.value = true;

  try {
    const response = await axios.get(
      `https://mastodon.social/api/v1/timelines/public?limit=40&only_media=true&page=${nextPage.value}`
    );

    const englishPosts = response.data.filter(post => post.language === "en");

    posts.value.push(...englishPosts);
    nextPage.value += 1;
  } catch (error) {
    console.error("Error:", error);
  } finally {
    loading.value = false;
  }
};

const lazyLoadPosts = (entries) => {
  const entry = entries[0];
  if (entry.isIntersecting) {
    fetchPosts();
  }
};

onMounted(() => {
  fetchPosts();

  const observer = new IntersectionObserver(lazyLoadPosts, {
    root: null,
    rootMargin: "0px",
    threshold: 1.0,
  });

  if (loadTrigger.value) {
    observer.observe(loadTrigger.value);
  }
});

const openPost = (postId) => {
  router.push({ name: "MastodonDetail", params: { id: postId } });
};
</script>


<template>
  <div class="grid-container">
    <div
      v-for="post in posts"
      :key="post.id"
      class="grid-item"
      @click="openPost(post.id)"
    >
      <p v-html="post.content"></p>
      <img
        v-if="post.media_attachments.length > 0"
        :src="post.media_attachments[0].url"
      />
    </div>

    <div
      ref="loadTrigger"
      class="loading-trigger"
    >
      ...
    </div>

    <p v-if="loading">...</p>
  </div>
</template>

<style scoped>
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  background: var(--background);
}

.grid-item {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  background: var(--background-second);

  img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.loading-trigger {
  height: 50px;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: gray;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox .post {
  background: var(--background-second);
  border-radius: var(--border-radius);
  width: 80%;
  max-width: 600px;
  padding: 20px;
  position: relative;
}

.post {
  background: var(--background-second);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 1000px;
  margin: 10px auto;

  .user {
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  h3 {
    margin: 0;
  }

  p {
    padding: 0 10px 0 10px;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

.photo img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

.close {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
}
</style>
