<script setup>
import { ref, onMounted } from "vue";
import axios from "axios";

const posts = ref([]);
const loading = ref(false);
const nextPage = ref(1);
const loadTrigger = ref(null);

const fetchPosts = async () => {
  if (loading.value) return;
  loading.value = true;

  try {
    const response = await axios.get(
      `https://mastodon.social/api/v1/timelines/public?limit=10&local=true&page=${nextPage.value}`
    );
    posts.value.push(...response.data);
    nextPage.value += 1;
  } catch (error) {
    console.error("Error:", error);
  } finally {
    loading.value = false;
  }
};

const lazyLoadPosts = (entries) => {
  const entry = entries[0];
  if (entry.isIntersecting) {
    fetchPosts();
  }
};

onMounted(() => {
  fetchPosts();

  const observer = new IntersectionObserver(lazyLoadPosts, {
    root: null,
    rootMargin: "0px",
    threshold: 1.0,
  });

  if (loadTrigger.value) {
    observer.observe(loadTrigger.value);
  }
});
</script>

<template>
  <div class="posts-container">
    <div
      v-for="post in posts"
      :key="post.id"
      class="post-card"
    >
      <div class="post-header">
        <img
          :src="post.account.avatar"
          alt="Avatar"
          class="avatar"
        />
        <div class="post-info">
          <h3>{{ post.account.display_name }}</h3>
          <small>@{{ post.account.username }}</small>
        </div>
      </div>

      <div
        class="post-content"
        v-html="post.content"
      ></div>

      <div
        v-if="post.media_attachments.length > 0"
        class="media-gallery"
      >
        <div
          v-for="media in post.media_attachments"
          :key="media.id"
          class="media-item"
        >
          <img
            v-if="media.type === 'image'"
            :src="media.url"
            :alt="media.description"
            class="media-img"
          />
        </div>
      </div>
    </div>

    <div
      ref="loadTrigger"
      class="loading-trigger"
    >
      ...
    </div>

    <p v-if="loading">...</p>
  </div>
</template>

<style scoped>
.posts-container {
  max-width: 1000px;
  margin: 0 auto;
}

.post-card {
  background: var(--background-second);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.post-info {
  display: flex;
  flex-direction: column;
}

.post-info h3 {
  margin: 0;
  font-size: 18px;
  color: var(--text);
}

.post-info small {
  color: var(--text);
}

.post-content {
  margin-top: 10px;
  font-size: 16px;
  color: var(--text);
}

.media-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 15px;
}

.media-item {
  overflow: hidden;
  border-radius: 8px;
}

.media-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.loading-trigger {
  height: 50px;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: var(--text);
}
</style>
