<script setup>
import { ref, onMounted } from "vue";
import { useRoute, useRouter } from "vue-router";
import axios from "axios";
import SaveIcon from '@/components/icons/IconSave.vue'
import LikeIcon from '@/components/icons/IconLike.vue'
import ShareIcon from '@/components/icons/IconShare.vue'
import MastodonPosts from '@/components/MastodonPosts.vue'

const route = useRoute();
const router = useRouter();
const post = ref(null);

const isShareSupported = ref(!!navigator.share);

const shareContent = async () => {
  const url = window.location.href;

  if (isShareSupported.value) {
    try {
      await navigator.share({
        title: 'Content Title',
        text: 'An Ignisus Forum Post.',
        url,
      });
      console.log('Content shared successfully');
    } catch (error) {
      console.error('Error sharing content:', error);
    }
  } else {
    try {
      await navigator.clipboard.writeText(url);
      alert('The link has been copied to your clipboard.');
    } catch (error) {
      console.error('Error copying to clipboard:', error);
      alert('Failed to copy the link. Please copy it manually.');
    }
  }
};

onMounted(async () => {
  const postId = route.params.id;

  try {
    const response = await axios.get(
      `https://mastodon.social/api/v1/statuses/${postId}`
    );
    post.value = response.data;
  } catch (error) {
    console.error("Error fetching post:", error);
    router.push({ name: "PostList" });
  }
});

const goBack = () => {
  router.push({ name: "PostList" });
};
const likePost = () => {
  if (post.value) {
    post.value.likes++
  }
}

const savePost = () => {
  alert('Post saved!')
}
</script>

<template>
  <div class="post-view">
    <div
      v-if="post"
      class="post-content"
    >
      <div class="post-header">
        <img
          :src="post.account.avatar"
          alt="User Avatar"
          class="avatar"
        />
        <div class="user-info">
          <h2>{{ post.account.display_name }}</h2>
          <small>@{{ post.account.username }}</small>
        </div>
      </div>

      <div class="post-body">
        <img
          v-if="post.media_attachments.length > 0"
          :src="post.media_attachments[0].url"
          alt="Post Media"
        />
        <p v-html="post.content"></p>
      </div>

      <div class="post-footer">
        <button
          @click="likePost"
          class="icon-button"
        >
          <LikeIcon /> <span>{{ post.likes }} Likes</span>
        </button>
        <button
          @click="savePost"
          class="icon-button"
        >
          <SaveIcon /> <span>Save</span>
        </button>
        <button
          @click="shareContent"
          class="
          icon-button"
        >
          <ShareIcon /> <span>Share</span>
        </button>
      </div>
    </div>

    <div
      v-else
      class="error-message"
    >
      <p>Post not found.</p>
      <button @click="goBack">Go Back</button>
    </div>
  </div>
  <MastodonPosts></MastodonPosts>
</template>
<style scoped>
.post-view {
  max-width: 1000px;
  margin: 0 auto;
}

.error-message {
  text-align: center;
  margin-top: 50px;
}

.post-content {
  background: var(--background-second);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info h2 {
  margin: 0;
  font-size: 18px;
}

.post-body {
  margin-bottom: 20px;
}

.post-body img {
  width: 100%;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

.post-body p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 14px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #007bff;
  margin-right: 10px;
}

.icon-button svg {
  margin-right: 5px;
}

.icon-button:hover {
  text-decoration: underline;
}

.go-back {
  background-color: #007bff;
  color: var(--text);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.go-back:hover {
  background-color: #0056b3;
}
</style>
