<script setup>
import CreateIcon from '@/components/icons/IconCreate.vue'
import create from '@/components/CreateUpload.vue'
import SearchIcon from '@/components/icons/IconSearch.vue'
import SettingsIcon from '@/components/icons/IconSettings.vue'
import { ref, computed } from 'vue'
import { useRoute } from 'vue-router'

const route = useRoute()
const isActive = (path) => currentPath.value === path
const currentPath = computed(() => route.path)

const showPopup = ref(false)

const togglePopup = () => {
  showPopup.value = !showPopup.value
}
</script>

<template>
  <section
    class="popup"
    :class="{ 'show-popup': showPopup }"
  >
    <create
      v-if="showPopup"
      @close="togglePopup"
    ></create>
  </section>
  <header>
    <nav class="navbar">
      <div class="logo hideMobile">
        <router-link to="/">
          <img
            src="/ignisus/icon-512x512.png"
            alt="Logo"
          >
        </router-link>
      </div>
      <div class="menu">
        <ul class="nav-links">
          <li>
            <a>
              <div @click="togglePopup">
                <CreateIcon />
                <span class="menutext hideMobile"><strong>{{ $t('header.create') }}</strong></span>
              </div>
            </a>
          </li>
          <li>
            <router-link to="/forum">
              <div>
                <svg
                  :class="{ 'active-svg': isActive('/forum') }"
                  viewBox="0 0 24 24"
                >
                  <circle
                    cx="12"
                    cy="6"
                    r="4"
                  ></circle>
                  <path d="M18 9C19.6569 9 21 7.88071 21 6.5C21 5.11929 19.6569 4 18 4"></path>
                  <path d="M6 9C4.34315 9 3 7.88071 3 6.5C3 5.11929 4.34315 4 6 4"></path>
                  <ellipse
                    cx="12"
                    cy="17"
                    rx="6"
                    ry="4"
                  ></ellipse>
                  <path d="M20 19C21.7542 18.6153 23 17.6411 23 16.5C23 15.3589 21.7542 14.3847 20 14"></path>
                  <path d="M4 19C2.24575 18.6153 1 17.6411 1 16.5C1 15.3589 2.24575 14.3847 4 14"></path>
                </svg>
                <span class="menutext hideMobile"><strong>{{ $t('header.forum') }}</strong></span>
              </div>
            </router-link>
          </li>
          <li>
            <router-link to="/gaming">
              <div>
                <svg
                  :class="{ 'active-svg': isActive('/gaming') }"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M20.4086 9.35258C22.5305 10.5065 22.5305 13.4935 20.4086 14.6474L7.59662 21.6145C5.53435 22.736 3 21.2763 3 18.9671L3 5.0329C3 2.72368 5.53435 1.26402 7.59661 2.38548L20.4086 9.35258Z"
                  >
                  </path>
                </svg>
                <span class="menutext hideMobile"><strong>{{ $t('header.gaming') }}</strong></span>
              </div>
            </router-link>
          </li>
          <li>
            <router-link to="/hosting">
              <div>
                <svg
                  :class="{ 'active-svg': isActive('/hosting') }"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M14.381 9.02721C14.9767 8.81911 15.6178 8.70588 16.2857 8.70588C16.9404 8.70588 17.5693 8.81468 18.1551 9.01498M7.11616 11.6089C6.8475 11.5567 6.56983 11.5294 6.28571 11.5294C3.91878 11.5294 2 13.4256 2 15.7647C2 18.1038 3.91878 20 6.28571 20H16.2857C19.4416 20 22 17.4717 22 14.3529C22 11.8811 20.393 9.78024 18.1551 9.01498M7.11616 11.6089C6.88706 10.9978 6.7619 10.3369 6.7619 9.64706C6.7619 6.52827 9.32028 4 12.4762 4C15.4159 4 17.8371 6.19371 18.1551 9.01498M7.11616 11.6089C7.68059 11.7184 8.20528 11.9374 8.66667 12.2426"
                  >
                  </path>
                </svg>
                <span class="menutext hideMobile"><strong>{{ $t('header.hosting') }}</strong></span>
              </div>
            </router-link>
          </li>
          <li class="hideMobile">
            <div class="search-pc">
              <SearchIcon />
              <input
                aria-label="search"
                list="search"
                type="text"
                placeholder=""
              />
            </div>
          </li>
          <li class="hidePC">
            <router-link to="/settings">
              <div :class="{ 'active-svg2': isActive('/settings') }">
                <SettingsIcon />
              </div>
            </router-link>
          </li>
        </ul>
      </div>
      <details class="profile hideMobile">
        <summary class="dropdown-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
            aria-hidden="true"
          >
            <path
              d="M11.78,11.28A4.462,4.462,0,0,1,16,6.61a4.462,4.462,0,0,1,4.22,4.67A4.45912,4.45912,0,0,1,16,15.94,4.45912,4.45912,0,0,1,11.78,11.28ZM30.04,16a13.91894,13.91894,0,0,1-2.39,7.82,1.43134,1.43134,0,0,1-.14.2,14.01332,14.01332,0,0,1-23.02,0,1.43134,1.43134,0,0,1-.14-.2A14.03633,14.03633,0,1,1,30.04,16ZM3.46,16a12.51091,12.51091,0,0,0,1.57,6.09C7.2,19.24,11.36,17.46,16,17.46s8.8,1.78,10.97,4.63A12.543,12.543,0,1,0,3.46,16Z"
            >
            </path>
          </svg>
        </summary>
        <ul class="dropdown">
          <li>
            <p class="hover">
              <router-link to="/settings">
                <span>{{ $t('header.settings') }}</span>
              </router-link>
            </p>
          </li>
          <li>
            <p class="hover">
              <router-link to="/login">
                <span>{{ $t('header.login') }}</span>
              </router-link>
            </p>
          </li>
        </ul>
      </details>
    </nav>
  </header>
</template>

<style scoped>
.popup {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.699);
  display: none;
  justify-content: center;
  align-items: center;
}

.show-popup {
  display: flex;
}

.navbar {
  line-height: 1;
  max-width: 900px;
  margin: 0 auto;
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 9998;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background);
  padding: 5px 5px 5px 5px;
  opacity: 0.9;

  .nav-links {
    display: flex;

    li {
      margin: 0 8px 0 8px;
      align-items: center;
      display: flex;

      div {
        align-items: center;
        display: flex;
      }

      svg {
        width: 1.2rem;
        height: 1.2rem;
        stroke: var(--text);
        stroke-width: 2;
      }
    }

    .search-pc {
      display: flex;
      border-radius: 20px;
      padding-left: 10px;
      align-items: center;
      color: var(--text);
      overflow: hidden;
      background: var(--background-third);

      input {
        min-width: 10px;
        flex: 1;
        padding: 4px;
        font-size: 1rem;
        color: var(--text);
        padding-left: 10px;
      }
    }
  }

}

.active-svg {
  fill: var(--text);
}

.active-svg2 svg {
  fill: var(--text);
  stroke: var(--background) !important;
}

.menutext {
  padding-left: 10px;
}

.logo {
  margin-left: 10px;

  img {
    width: 45px;
    height: 45px;
  }
}

.dropdown-btn {
  border: none;
  cursor: pointer;

  svg {
    margin-right: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}

.dropdown {
  position: absolute;
  top: 55px;
  background: var(--background);
  border-radius: var(--border-radius);
  animation: dropdown 0.5s ease-in-out;

  li {
    overflow: hidden;
    border-radius: var(--border-radius);
    text-align: center;
    padding: 10px;
  }
}

@keyframes dropdown {
  0% {
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    transform-origin: top;
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {

  .nav-links a:hover div,
  .nav-links a:hover span,
  .nav-links a:hover svg {
    scale: 1.05;
    cursor: pointer;
    filter: drop-shadow(2px 2px 5px var(--shadow));
    color: var(--text-hover);
    stroke: var(--text-hover);
  }
}

@media screen and (max-width: 768px) {

  .navbar {
    border-top: 1px solid var(--shadow);
    background: var(--background);
    justify-content: center;
    width: 100%;
    max-width: 100%;
    top: auto;
    bottom: 0;
    padding: 0;
    border-radius: 0;

    .nav-links {
      padding: 0;
      margin: 0;
      display: flex;

      li {
        margin: 15px 5vw 15px 5vw;
        flex: 1;
        text-align: center;
      }
    }
  }

  .active-svg {
    scale: 1.3;
  }

  .active-svg2 {
    scale: 1.5;
  }

}
</style>
