<template>
  <canvas
    ref="canvas"
    width="96"
    height="105"
  ></canvas>
</template>

<script>
import { ref, onMounted, onUnmounted } from "vue";

export default {
  setup() {
    const canvas = ref(null);
    const context = ref(null);
    const frame = ref(0);
    const totalFrames = 4;
    const spriteWidth = 96;
    const spriteHeight = 105;
    const animationInterval = 100;
    let spriteSheet = new Image();
    spriteSheet.src = "/images/phoenix-spritesheet.webp";
    let intervalId = null;

    const startAnimation = () => {
      intervalId = setInterval(() => {
        context.value.clearRect(0, 0, spriteWidth, spriteHeight);
        context.value.drawImage(
          spriteSheet,
          frame.value * spriteWidth,
          0,
          spriteWidth,
          spriteHeight,
          0,
          0,
          spriteWidth,
          spriteHeight
        );
        frame.value = (frame.value + 1) % totalFrames;
      }, animationInterval);
    };

    onMounted(() => {
      context.value = canvas.value.getContext("2d");
      spriteSheet.onload = startAnimation;
    });

    onUnmounted(() => {
      clearInterval(intervalId);
    });

    return {
      canvas,
    };
  },
};
</script>

<style scoped>
canvas {
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
  opacity: 70%;
  width: 12%;
  filter: drop-shadow(5px 5px 5px #222);
}
</style>
