<script setup>
import { ref } from 'vue'
import { db } from '@/services/index.js'

const posts = ref([])
const selPost = ref(null)

const loadImages = async () => {
  posts.value = db.posts
}

const openImage = (post) => {
  selPost.value = post
}

loadImages()

const timeSince = (dateString) => {
  const date = new Date(dateString);
  const now = new Date();
  const seconds = Math.floor((now - date) / 1000);
  const minutes = Math.floor(seconds / 60);
  const hours = Math.floor(minutes / 60);
  const days = Math.floor(hours / 24);
  const months = Math.floor(days / 30);
  const years = Math.floor(days / 365);

  if (years > 0) return `${years} years`;
  if (months > 0) return `${months} months`;
  if (days > 0) return `${days} days`;
  if (hours > 0) return `${hours} hours`;
  if (minutes > 0) return `${minutes} minutes`;
  return 'today';
};
</script>
<template>
  <div
    class="post"
    v-for="post in posts"
    :key="post.id"
  >
    <div class="user hover">
      <img
        :src="`/users/${post.user}.webp`"
        alt=""
      />&nbsp;
      <span @click="openImage(post)">
        <b>@{{ post.user }}</b>
      </span>
      <time class="date">
        <span>
          <i v-if="post">&nbsp;·&nbsp;{{ timeSince(post.created) }}</i>
        </span>
      </time>
    </div>
    <div class="photo">
      <img
        :src="`/posts/${post.id}.webp`"
        alt=""
      />
    </div>
    <p>
      {{ post.description }}
      <i>#{{ post.category }}</i>
    </p>
    <div class="post-btn">
      <div class="left">
        <button type="button"><span>Reply...</span></button>
      </div>
      <div class="right">
        <button
          type="button"
          class="share"
        >
          <ShareIcon />
        </button>
        <button
          type="button"
          class="love"
        >
          <LikeIcon />
        </button>
        <button
          type="button"
          class="save"
        >
          <SaveIcon />
        </button>
      </div>
    </div>
  </div>
</template>
<style scoped>
.post-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  button {
    color: var(--text);
    margin: 10px;
  }
}

.left button span {
  background-image: var(--hover);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.photo {
  overflow: hidden;
  text-align: center;

  img {
    width: 100%;
    max-width: 60vh;
    border-radius: var(--border-radius);
  }
}

.right button:hover {
  transform: scale(1.2);
}

.left button:hover {
  cursor: pointer;
}

.right svg,
.share svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: var(--text);
  fill: none;
  cursor: pointer;
}

.share svg {
  fill: var(--text);
}

.right svg:hover {
  stroke: var(--text);
  fill: var(--text);
}

.post {
  background: var(--background-second);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 1000px;
  margin: 10px auto;

  p {
    padding: 10px;
  }

  h3 {
    margin: 0;
  }

  .user {
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;

    img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 768px) {

  .post-btn {
    button {
      margin: 7px;
    }
  }

  .photo {
    overflow: hidden;
    text-align: center;

    img {
      width: 100%;
      max-width: 100%;
      border-radius: 0;
    }
  }
}

@media screen and (max-width: 350px) {
  .post-btn {
    button {
      margin: 5px;
    }
  }
}
</style>
