<script setup>
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { db } from '@/services/index.js'

const posts = ref([])
const router = useRouter()

const loadImages = async () => {
  posts.value = db.posts
}

const openPost = (postId) => {
  router.push({ name: 'PostsDetail', params: { id: postId } })
}

loadImages()
</script>

<template>
  <div class="grid-container">
    <div
      class="grid-item"
      v-for="post in posts"
      :key="post.id"
      @click="openPost(post.id)"
    >
      <p>{{ post.description }}</p>
      <img
        v-if="post.image"
        :src="`/posts/${post.id}.webp`"
        alt=""
      />
    </div>
  </div>
</template>

<style scoped>
.post-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  button {
    color: var(--text);
    padding: 10px;
  }
}

.left button span {
  background-image: var(--hover);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.photo {
  overflow: hidden;
  text-align: center;

  img {
    width: 100%;
    max-width: 40vh;
  }
}

.right button:hover {
  transform: scale(1.2);
}

.left button:hover {
  cursor: pointer;
}

.right svg,
.share svg {
  width: 25px;
  height: 25px;
  stroke: var(--text);
  fill: none;
  cursor: pointer;
}

.share svg {
  fill: var(--text);
}

.right svg:hover {
  stroke: var(--text);
  fill: var(--text);
}

.post {
  background: var(--background-second);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 1000px;
  margin: 10px auto;

  .user {
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  h3 {
    margin: 0;
  }

  p {
    padding: 0 10px 0 10px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  background: var(--background);
}

.grid-item {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  background: var(--background-second);

  img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 768px) {
  .grid-item:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

@media screen and (max-width: 768px) {
  .photo img {
    width: 40vh;
    max-width: 100%;
  }
}
</style>
