<script setup>
import { ref, onMounted } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { db } from '@/services/index.js'
import MastodonPosts from '@/components/MastodonPosts.vue'
import SaveIcon from '@/components/icons/IconSave.vue'
import LikeIcon from '@/components/icons/IconLike.vue'
import ShareIcon from '@/components/icons/IconShare.vue'

const route = useRoute()
const router = useRouter()
const post = ref(null)

const isShareSupported = ref(!!navigator.share);

const shareContent = async () => {
  const url = window.location.href;

  if (isShareSupported.value) {
    try {
      await navigator.share({
        title: 'Content Title',
        text: 'An Ignisus Forum Post.',
        url,
      });
      console.log('Content shared successfully');
    } catch (error) {
      console.error('Error sharing content:', error);
    }
  } else {
    try {
      await navigator.clipboard.writeText(url);
      alert('The link has been copied to your clipboard.');
    } catch (error) {
      console.error('Error copying to clipboard:', error);
      alert('Failed to copy the link. Please copy it manually.');
    }
  }
};

onMounted(() => {
  const postId = parseInt(route.params.id, 10) // radix = 10
  post.value = db.posts.find(p => p.id === postId)

  if (!post.value) {
    console.error(`Post with ID ${postId} not found`)
  }
})

const timeSince = (dateString) => {
  const date = new Date(dateString)
  const now = new Date()
  const seconds = Math.floor((now - date) / 1000)
  const minutes = Math.floor(seconds / 60)
  const hours = Math.floor(minutes / 60)
  const days = Math.floor(hours / 24)
  const months = Math.floor(days / 30)
  const years = Math.floor(days / 365)

  if (years > 0) return `${years} years ago`
  if (months > 0) return `${months} months ago`
  if (days > 0) return `${days} days ago`
  if (hours > 0) return `${hours} hours ago`
  if (minutes > 0) return `${minutes} minutes ago`
  return 'Just now'
}

const goBack = () => {
  router.push({ name: 'forum' })
}

const likePost = () => {
  if (post.value) {
    post.value.likes++
  }
}

const savePost = () => {
  alert('Post saved!')
}
</script>
<template>
  <div class="post-view">

    <div
      v-if="post"
      class="post-content"
    >
      <div class="post-header">
        <img
          :src="`/users/${post.user}.webp`"
          alt="User Avatar"
          class="avatar"
        />
        <div class="user-info">
          <h2>@{{ post.user }}</h2>
          <time>{{ timeSince(post.created) }}</time>
        </div>
      </div>

      <div class="post-body">
        <img
          :src="`/posts/${post.id}.webp`"
          alt="Post Image"
        />
        <p>{{ post.description }}</p>
        <div class="tags">
          <span
            v-for="tag in post.tags"
            :key="tag"
            class="tag"
          >#{{ tag }}</span>
        </div>
      </div>

      <div class="post-footer">
        <button
          @click="likePost"
          class="icon-button"
        >
          <LikeIcon /> <span>{{ post.likes }} Likes</span>
        </button>
        <button
          @click="savePost"
          class="icon-button"
        >
          <SaveIcon /> <span>Save</span>
        </button>
        <button
          @click="shareContent"
          class="
          icon-button"
        >
          <ShareIcon /> <span>Share</span>
        </button>
      </div>
    </div>

    <div
      v-else
      class="error-message"
    >
      <p>Post not found.</p>
      <button
        @click="goBack"
        class="go-back"
      >Go Back</button>
    </div>
  </div>
  <MastodonPosts></MastodonPosts>
</template>
<style scoped>
.post-view {
  max-width: 1000px;
  margin: 0 auto;
}

.error-message {
  text-align: center;
  margin-top: 50px;
}

.post-content {
  background: var(--background-second);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info h2 {
  margin: 0;
  font-size: 18px;
}

.post-body {
  margin-bottom: 20px;
}

.post-body img {
  width: 100%;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

.post-body p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 14px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #007bff;
  margin-right: 10px;
}

.icon-button svg {
  margin-right: 5px;
}

.icon-button:hover {
  text-decoration: underline;
}

.go-back {
  background-color: #007bff;
  color: var(--text);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.go-back:hover {
  background-color: #0056b3;
}
</style>
