<script setup>
import SearchIcon from '@/components/icons/IconSearch.vue'
import { useRouter } from 'vue-router'

const router = useRouter()

const goBack = () => {
  router.back()
}
</script>
<template>
  <div class="search-container">
    <button
      @click="goBack"
      class="back"
    >
      <svg
        viewBox="0 0 1024 1024"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M669.6 849.6c8.8 8 22.4 7.2 30.4-1.6s7.2-22.4-1.6-30.4l-309.6-280c-8-7.2-8-17.6 0-24.8l309.6-270.4c8.8-8 9.6-21.6 2.4-30.4-8-8.8-21.6-9.6-30.4-2.4L360.8 480.8c-27.2 24-28 64-0.8 88.8l309.6 280z"
          fill=""
        />
      </svg>
    </button>
    <div class="icon">
      <SearchIcon />
      <input
        aria-label="search"
        type="text"
        placeholder=""
        v-model="searchText"
        @keyup="filterItems"
      />
    </div>
  </div>
</template>
<style scoped>
.search-container {
  display: flex;
  align-items: center;
  margin: 10px 10px 10px 0;
  overflow: hidden;
  width: 100%;
  line-height: 1;

  .icon {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    background: var(--background-third);
    border-radius: 10px;
  }

  input {
    padding: 0 5px 0 5px;
    font-size: 1rem;
    background: var(--background-third);
    color: var(--text);
    flex-grow: 1;
  }

  svg {
    text-align: center;
    padding-left: 5px;
    width: 30px;
    height: 30px;
    stroke: var(--text);
    stroke-width: 1.5;
    fill: none;
  }

  h3 {
    text-transform: uppercase;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
  }

  .back {
    padding-right: 10px;

    svg {
      fill: var(--text);
    }
  }
}

@media screen and (max-width: 300px) {

  .search-container {
    margin: 5px;

    input {
      padding: 0;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
</style>