<template>
  <svg
    viewBox="0 0 40 40"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g
      stroke="none"
      transform="translate(-300.000000, -250.000000)"
      fill="var(--text)"
    >
      <path
        d="M327.494,279.633 L324,284 L320.506,279.633 C314.464,278.355 309.992,273.863 309.992,268.501 C309.992,262.146 316.264,256.994 324,256.994 C331.736,256.994 338.008,262.146 338.008,268.501 C338.008,273.863 333.536,278.355 327.494,279.633 L327.494,279.633 Z M324,255 C315.163,255 308,261.143 308,268.72 C308,274.969 312.877,280.232 319.542,281.889 L324,287.001 L328.459,281.889 C335.123,280.232 340,274.969 340,268.72 C340,261.143 332.837,255 324,255 L324,255 Z"
      >
      </path>
    </g>
  </svg>
</template>
