<script setup>
import { ref, onMounted } from 'vue'
import { RouterView } from 'vue-router'
import NavBar from '@/components/NavBar.vue'
import SearchMobile from '@/components/SearchMobile.vue'

const isLoading = ref(true)

onMounted(() => {
  window.addEventListener('load', () => {
    isLoading.value = false
  })
})
</script>

<template>
  <div
    v-if="isLoading"
    class="loading-animation"
  >
    <div class="folding-cube">
      <div class="cube1 cube"></div>
      <div class="cube2 cube"></div>
      <div class="cube4 cube"></div>
      <div class="cube3 cube"></div>
    </div>
  </div>
  <NavBar></NavBar>
  <section class="hidePC">
    <SearchMobile></SearchMobile>
  </section>
  <main>
    <router-view></router-view>
  </main>
</template>

<style scoped>
.loading-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotateZ(45deg);

  .cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
  }

  .cube2 {
    transform: scale(1.1) rotateZ(90deg);
  }

  .cube3 {
    transform: scale(1.1) rotateZ(180deg);
  }

  .cube4 {
    transform: scale(1.1) rotateZ(270deg);
  }

  .cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 136, 0);
    animation: loading 2.4s infinite linear both;
    transform-origin: 100% 100%;
  }

  .cube2:before {
    animation-delay: 0.3s;
  }

  .cube3:before {
    animation-delay: 0.6s;
  }

  .cube4:before {
    animation-delay: 0.9s;
  }
}

@keyframes loading {

  0%,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding-bottom: 40px;
  }
}
</style>
