@font-face {
  font-family: 'liberation-serif';
  src: url('/fonts/LiberationSerif.woff2') format('woff2'),
    url('/fonts/LiberationSerif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Liberation Serif', 'liberation-serif';
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  border: none;
  outline: none;
  list-style-type: none;
  background-color: transparent;
  position: relative;
  min-width: 0;
}

.adwaita-dark {
  --text: rgb(193 193 193);
  --text-hover: rgb(255 255 255);
  --background: rgb(30 30 30);
  --background-second: linear-gradient(45deg, rgb(48 48 48), rgb(69 69 69));
  --background-third: rgb(69 69 69);
  --shadow: rgb(255 255 255 / 40%);
  --hover: linear-gradient(0deg, #ff1d58, #ff4677, #f3b80d, #f5ce17);
  --border-radius: 10px;
}

.adwaita-light {
  --text: rgb(51 51 51);
  --text-hover: rgb(25 25 25);
  --background: rgb(255 255 255);
  --background-second: linear-gradient(45deg, rgb(235 235 235), rgb(216 216 216));
  --background-third: rgb(216 216 216);
  --shadow: rgba(0 0 0 / 40%);
  --hover: linear-gradient(0deg, #ff1d58, #ff4677, #f3b80d, #f5ce17);
  --border-radius: 10px;
}

.qt-dark {
  --text: rgb(231 233 234);
  --text-hover: rgb(255 255 255);
  --background: rgb(0 0 0);
  --background-second: linear-gradient(45deg, rgb(38 38 38), rgb(60 60 60));
  --background-third: rgb(60 60 60);
  --shadow: rgb(255 255 255 / 40%);
  --hover: linear-gradient(0deg, #ff1d58, #ff4677, #f3b80d, #f5ce17);
  --border-radius: 3px;
}

.qt-light {
  --text: rgb(22, 22, 22);
  --text-hover: rgb(0, 0, 0);
  --background: rgb(216 216 216);
  --background-second: linear-gradient(45deg, rgb(235 235 235), rgb(255 255 255));
  --background-third: rgb(255 255 255);
  --shadow: rgba(0 0 0 / 40%);
  --hover: linear-gradient(0deg, #ff1d58, #ff4677, #f3b80d, #f5ce17);
  --border-radius: 3px;
}

.pinky {
  --text: rgb(61, 61, 61);
  --text-hover: rgb(255 255 255);
  --background: rgb(249, 206, 231);
  --background-second: linear-gradient(45deg, rgb(244, 184, 218), rgb(238, 161, 205));
  --background-third: rgb(238, 161, 205);
  --shadow: rgba(0 0 0 / 40%);
  --hover: linear-gradient(0deg, #f0f0f0, #f0f0f0);
  --border-radius: 15px;
}

html {
  scrollbar-width: thin;
  font-size: 16px;
  line-height: 1.5;
}

body {
  background: var(--background);
  color: var(--text);
}

main {
  margin: 75px 10px 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.05rem;
}

h5 {
  font-size: 0.7rem;
}

h6 {
  font-size: 0.35rem;
}

span,
time {
  font-size: 1rem;
  color: var(--text);
}

p {
  text-wrap: pretty;
  font-size: 1rem;
}

.info {
  font-size: 1rem;
  padding: 10px;
}

.content {
  margin: 0 auto 10px;
  background: var(--background-second);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 1000px;
}

.black {
  background-image: var(--hover);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hidePC {
  display: none !important;
}

svg {
  fill: var(--text);
}

.nav-links svg {
  fill: none;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

/* RESPONSIVE */

@media only screen and (min-width: 768px) {
  .hover:hover {
    cursor: pointer;
  }

  .hover:hover span,
  .hover:hover select {
    cursor: pointer;
    filter: drop-shadow(2px 2px 5px var(--shadow));
    color: var(--text-hover);
    fill: var(--text-hover);
  }

  .item:hover {
    transform: scale(1.05);
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  main {
    margin: 0 10px 0 10px;
  }

  .hideMobile {
    display: none !important;
  }

  .hidePC {
    display: flex !important;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 200px) {
  html {
    font-size: 8px;
  }
}